<% content_for :meta_title, "#{@conseil_article.title} sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @conseil_article.subtitle %>

<%= render "shared/notation_conseil", conseil_id: @conseil_article.id, type: "article" %>

<div class="div-banner div-banner-conseil">
  <div class="flex-div-left">
    <%= link_to ressources_path, class:"mr20"  do %>
      <%= image_tag "return-arrow.svg", alt: "icône retour" %>
    <% end %>
    <% @conseil_article.category_list.each do |category| %>
      <a href="/ressources?category_list=<%= category %>"><p class="fiche-tag"><%= category %></p></a>
    <% end %>
  </div>
  <div class="banner-show">
    <div class="fiche-title">
      <h2><%= @conseil_article.title %></h2>
      <p class="paragraphe lh28"><%= @conseil_article.subtitle %></p>
    </div>
    <div class="fiche-description">
      <p class="paragraphe lh28"><span class="paragraphe-bold"><%= image_tag "emojis/reveil.png", alt:"émoji réveil", class: "emojis-eflc-small", style: "width: 20px;" %> Temps de lecture :</span><%= @conseil_article.lecture_time %> min</p>
      <p class="paragraphe lh28"><span class="paragraphe-bold"><%= image_tag "emojis/main-pointer.png", alt:"émoji objectif", class: "emojis-eflc-small", style: "width: 22px; height: 18px;" %> Objectifs :</span><%= @conseil_article.objectif %></p>
    </div>
  </div>
</div>
<div class="arrondis arrondis-conseil">
</div>

<div class="conseils-article-content">
  <div class="block-conseils-article">
    <p class="subtitle">Introduction</p>
    <div class="paragraphe lh28"><%= @conseil_article.introduction.html_safe %></div>
  </div>
  <% if @conseil_article.a_retenir.present? %>
    <hr class="bhl">
    <div class="block-conseils-article">
      <p class="subtitle">À retenir :</p>
      <div class="paragraphe background-rouille"><%= @conseil_article.a_retenir.html_safe %></div>
    </div>
  <% end %>
  <hr class="bhl">
  <div class="block-conseils-article">
    <p class="subtitle">En détails</p>
    <div class="paragraphe lh28"><%= @conseil_article.explication.html_safe %></div>
    <div class="quote">
      <div class="paragraphe-spectral-italic">
        <%= @conseil_article.citation.html_safe %>
        <p class="citation-auteur"> <%= @conseil_article.citation_auteur %></p>
      </div>
    </div>
  </div>
  <% if @conseil_article.liens_utiles.present? %>
    <hr class="bhl">
    <div class="block-conseils-article">
      <p class="subtitle">Liens utiles</p>
      <div class="paragraphe lh28"><%= @conseil_article.liens_utiles.html_safe %></div>
    </div>
  <% end %>
  <hr class="bhl">
  <div class="block-conseils-article">
    <% if @conseil_article.sources.present? %>
      <p class="main-bold-paragraphe text-align-left">Sources</p>
      <p class="paragraphe lh28"><%= @conseil_article.sources %></p>
    <% end %>
    <% if @conseil_article.auteur.present? %>
      <p class="main-bold-paragraphe text-align-left">Autrices, Auteurs</p>
      <p class="paragraphe lh28"><%= @conseil_article.auteur.html_safe %></p>
    <% end %>
  </div>
  <% if @conseil_article.auteur.present? || @conseil_article.sources.present? %>
    <hr class="bhl">
  <% end %>
</div>
