<div class=div-banner-conseils-article>
  <div class="flex-div-left">
    <a class="mr20" href="/conseils"> <%= image_tag "return-arrow.svg" %></a>
    <% @conseil_article.category_list.each do |category| %>
      <% if category == "Administratif & Financier" %>
        <a href="/conseils?category=Administratif&tags%5B%5D=">
      <% end %>
      <% if category == "Artistique & Technique" %>
        <a href="/conseils?category=Technique&tags%5B%5D=">
      <% end %>
      <% if category == "Egalite & inclusion" %>
        <a href="/conseils?category=Parcours&tags%5B%5D=">
      <% end %>
        <p class="conseil-tag"><%= image_tag "emojis/#{ConseilsArticle::CONSEIL_CATEGORIES[category.to_sym][:image]}", class: "emojis-eflc-extra-small" %> <%= ConseilsArticle::CONSEIL_CATEGORIES[category.to_sym][:text] %></p>
      </a>
    <% end %>
    <% @conseil_article.tag_list.each do |tag| %>
      <% if tag == "Commencer mon activité" %>
        <a href="/conseils?category=&tags%5B%5D=Commencer+mon+activité&tags%5B%5D="><p class="conseil-tag"> Commencer mon activité</p></a>
      <% end %>
      <% if tag == "Me former" %>
        <a href="/conseils?category=&tags%5B%5D=Me+former&tags%5B%5D="><p class="conseil-tag"> Me former </p></a>
      <% end %>
      <% if tag == "Gérer ma carrière" %>
        <a href="/conseils?category=&tags%5B%5D=Gérer+ma+carrière&tags%5B%5D="><p class="conseil-tag"> Gérer ma carrière</p></a>
      <% end %>
      <% if tag == "Sensibiliser pour l'égalité" %>
        <a href="conseils?category=&tags%5B%5D=Sensibiliser+pour+l%27égalité&tags%5B%5D="><p class="conseil-tag"> Sensibiliser pour l'égalité</p></a>
      <% end %>
    <% end %>
  </div>
  <div class="banner-show">
    <div class="contact-title">
      <h2><%= @conseil_article.title %></h2>
      <p class="paragraphe mt30"><%= @conseil_article.subtitle %></p>
    </div>
    <div class="conseils-article-description">
      <p class="paragraphe"><span class="paragraphe-bold"><%= image_tag "emojis/reveil.png", class: "emojis-eflc-small" %> Durée : </span><%= @conseil_article.lecture_time %> min</p>
      <p class="paragraphe"><span class="paragraphe-bold"><%= image_tag "emojis/main-pointer.png", class: "emojis-eflc-small" %> Objectifs : </span><%= @conseil_article.objectif %></p>
    </div>
  </div>
</div>
<div class="arrondis-conseils-articles">
</div>

<div class="conseils-article-content">
  <div class="block-conseils-article">
    <p class="subtitle">Introduction</p>
    <div class="paragraphe"><%= @conseil_article.introduction.html_safe %></div>
  </div>
  <hr class="bhl">
  <div class="block-conseils-article">
    <p class="subtitle">En détails</p>
    <div class="paragraphe"><%= @conseil_article.explication.html_safe %></div>
    <div class="paragraphe"><%= @conseil_article.perspective.html_safe %></div>
    <div class="quote">
      <div class="paragraphe-spectral-italic">
        <%= @conseil_article.citation.html_safe %>
        <p class="citation-auteur"> <%= @conseil_article.citation_auteur %></p>
      </div>
    </div>
  </div>
  <% if @conseil_article.a_retenir.present? %>
    <hr class="bhl">
    <div class="block-conseils-article">
      <p class="subtitle">À retenir : </p>
      <div class="paragraphe background-rouille"><%= @conseil_article.a_retenir.html_safe %></div>
    </div>
  <% end %>
  <% if @conseil_article.liens_utiles.present? %>
    <hr class="bhl">
    <div class="block-conseils-article">
      <p class="subtitle">Liens utiles</p>
      <%= @conseil_article.liens_utiles.html_safe %>
    </div>
  <% end %>
  <hr class="bhl">
  <div class="block-conseils-article">
    <% if @conseil_article.sources.present? %>
      <p class="main-bold-paragraphe text-align-left">Sources</p>
      <p class="paragraphe"><%= @conseil_article.sources %></p>
    <% end %>
    <% if @conseil_article.auteur.present? %>
      <p class="main-bold-paragraphe text-align-left">Autrices, Auteurs</p>
      <p class="paragraphe"><%= @conseil_article.auteur %></p>
    <% end %>
  </div>
  <% if @conseil_article.auteur.present? || @conseil_article.sources.present? %>
    <hr class="bhl">
  <% end %>
</div>
