<div class=div-banner-conseils-video>
  <div class="flex-div-left">
    <a class="mr20" href="/conseils"> <%= image_tag "return-arrow.svg" %></a>
    <% @conseil_video.category_list.each do |category| %>
      <% if category == "Administratif & Financier" %>
        <a href="/conseils?category_list=Administratif+%26+Financier&tag_list=">
      <% end %>
      <% if category == "Artistique & Technique" %>
        <a href="/conseils?category_list=Artistique+%26+Technique&tag_list=">
      <% end %>
      <% if category == "Egalite & inclusion" %>
        <a href="/conseils?category_list=Rôle+modèles&tag_list=">
      <% end %>
        <p class="conseil-tag"><%= image_tag "emojis/#{ConseilsVideo::CONSEIL_CATEGORIES[category.to_sym][:image]}", class: "emojis-eflc-extra-small" %><%= ConseilsVideo::CONSEIL_CATEGORIES[category.to_sym][:text] %></p>
      </a>
    <% end %>
    <% @conseil_video.tag_list.each do |tag| %>
      <% if tag == "Commencer mon activité" %>
        <a href="/conseils?category_list=&tag_list=Commencer+mon+activité"><p class="conseil-tag">Commencer mon activité</p></a>
      <% end %>
      <% if tag == "Me former" %>
        <a href="/conseils?category_list=&tag_list=Me+former"><p class="conseil-tag">Me former </p></a>
      <% end %>
      <% if tag == "Gérer ma carrière" %>
        <a href="/conseils?category_list=&tag_list=Gérer+ma+carrière"><p class="conseil-tag">Gérer ma carrière</p></a>
      <% end %>
      <% if tag == "Sensibiliser pour l'égalité" %>
        <a href="conseils?category_list=&tag_list=Sensibiliser+pour+l%27égalité"><p class="conseil-tag">Sensibiliser pour l'égalité</p></a>
      <% end %>
    <% end %>
  </div>
  <div class="banner-show">
    <div class="contact-title">
      <h2><%= @conseil_video.title %></h2>
      <p class="subtitle-protagoniste">avec <%= @conseil_video.protagoniste %></p>
    </div>
    <div class="conseils-video-description">
      <p class="paragraphe"><span class="paragraphe-bold"><%= image_tag "emojis/reveil.png", class: "emojis-eflc-small" %> Durée : </span><%= @conseil_video.lecture_time %> min</p>
      <p class="paragraphe"><span class="paragraphe-bold"><%= image_tag "emojis/main-pointer.png", class: "emojis-eflc-small" %> Objectifs : </span><%= @conseil_video.objectif %></p>
      <p class="paragraphe"><span class="paragraphe-bold"><%= image_tag "emojis/camera.png", class: "emojis-eflc-small" %> Format vidéo : </span><%= @conseil_video.format %></p>
    </div>
  </div>
  <% if @conseil_video.video.attached? %>
    <%= cl_video_tag @conseil_video.video.key, width: 800, muted: true, playsinline: true, controls: true, class: "video-tag" %>
  <% end %>
</div>
<div class="arrondis-conseils-videos">
</div>
<div class="conseils-video-content">
  <div class="block-conseils-video">
    <p class="subtitle">Description</p>
    <p class="paragraphe"><%= @conseil_video.subtitle %></p>
    <p class="paragraphe"><%= @conseil_video.objectif %></p>
  </div>
  <hr class="bhl">
  <div class="block-conseils-video">
    <p class="subtitle"><%= @conseil_video.protagoniste %> :</p>
    <p class="paragraphe"><%= @conseil_video.contenu_explication %></p>
  </div>
  <hr class="bhl">
  <div class="block-conseils-video">
    <p class="main-bold-paragraphe text-align-left">Elle vous en a parlé</p>
    <% if @conseil_video.liens_utiles %>
      <div class="link-blue"><%= @conseil_video.liens_utiles.html_safe %></div>
    <% end %>
  </div>
  <hr class="bhl">
</div>
