<div class=div-banner-conseils-video>
  <div class="flex-div-left">
    <a class="mr20" href="/conseils"> <%= image_tag "return-arrow.svg" %></a>
    <% @conseil_video.category.each do |category| %>
      <% if category == "Administratif" %>
        <a href="/conseils?category=Administratif&tags%5B%5D="><p class="conseil-tag"><%= ConseilsVideo::CONSEIL_CATEGORIES[category.to_sym] %></p></a>
      <% end %>
      <% if category == "Financier" %>
        <a href="/conseils?category=Financier&tags%5B%5D="><p class="conseil-tag"><%= ConseilsVideo::CONSEIL_CATEGORIES[category.to_sym] %></p></a>
      <% end %>
      <% if category == "Technique" %>
        <a href="/conseils?category=Technique&tags%5B%5D="><p class="conseil-tag"><%= ConseilsVideo::CONSEIL_CATEGORIES[category.to_sym] %></p></a>
      <% end %>
      <% if category == "Matrimoine" %>
        <a href="/conseils?category=Matrimoine&tags%5B%5D="><p class="conseil-tag"><%= ConseilsVideo::CONSEIL_CATEGORIES[category.to_sym] %></p></a>
      <% end %>
    <% end %>
    <% @conseil_video.tags.each do |tag| %>
      <% if tag == "Commencer mon activité" %>
        <a href="/conseils?category=&tags%5B%5D=Commencer+mon+activité&tags%5B%5D="><p class="conseil-tag">Commencer mon activité</p></a>
      <% end %>
      <% if tag == "Me former" %>
        <a href="/conseils?category=&tags%5B%5D=Me+former&tags%5B%5D="><p class="conseil-tag">Me former </p></a>
      <% end %>
      <% if tag == "Gérer ma carrière" %>
        <a href="/conseils?category=&tags%5B%5D=Gérer+ma+carrière&tags%5B%5D="><p class="conseil-tag">Gérer ma carrière</p></a>
      <% end %>
      <% if tag == "Sensibiliser pour l'égalité" %>
        <a href="conseils?category=&tags%5B%5D=Sensibiliser+pour+l%27égalité&tags%5B%5D="><p class="conseil-tag">Sensibiliser pour l'égalité</p></a>
      <% end %>
    <% end %>
  </div>
  <div class="banner-show">
    <div class="contact-title">
      <h2><%= @conseil_video.title %></h2>
      <p class="subtitle-protagoniste">avec <%= @conseil_video.protagoniste %></p>
    </div>
    <div class="conseils-video-description">
      <p class="paragraphe"><span class="paragraphe-bold">⏰ Durée:</span><%= @conseil_video.lecture_time %> min</p>
      <p class="paragraphe"><span class="paragraphe-bold">👉 Objectifs:</span><%= @conseil_video.objectif %></p>
      <p class="paragraphe"><span class="paragraphe-bold">📼 Format vidéo:</span><%= @conseil_video.format %></p>
    </div>
  </div>
  <%= image_tag "https://images.pexels.com/photos/1264210/pexels-photo-1264210.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class: "video-tag" %>
</div>
<div class="arrondis-conseils-videos">
</div>
<div class="conseils-video-content">
  <div class="block-conseils-video">
    <p class="subtitle">Description</p>
    <p class="paragraphe"><%= @conseil_video.subtitle %></p>
    <p class="paragraphe"><%= @conseil_video.objectif %></p>
  </div>
  <hr class="bhl">
  <div class="block-conseils-video">
    <p class="subtitle"><%= @conseil_video.protagoniste %> :</p>
    <p class="paragraphe"><%= @conseil_video.contenu_explication %></p>
  </div>
  <hr class="bhl">
  <div class="block-conseils-video">
    <p class="main-bold-paragraphe text-align-left">Elle vous en a parlé</p>
      <% @conseil_video.liens_utiles.each do |lien| %>
        <a href="<%= lien %>" class="link-blue"><%= image_tag "arrow-darkblue.svg" %> <%= lien %></a><br><br>
      <% end %>
  </div>
  <hr class="bhl">
</div>
