<div class="info-contenu-div-conseil">
  <p class="info-contenu-conseil lh35 main-bold-paragraphe text-align-center">Vous connaissez <br>une ressource utile aux femmes photographes ?  Site, livre, asso... Soumettez-la, et contribuez à cette initiative !</p>
  <div class="text-align-center">
    <a href="/proposer_conseil" class="button-contenu-conseil">Recensez une ressource</a>
  </div>
</div>
<% @conseils.sort_by(&:created_at).reverse.each do |conseil| %>
  <% if conseil.class == ConseilsArticle %>
    <div class="card-index-conseils-articles">
      <%= link_to conseils_article_path(conseil) do %>
        <div class="card-index-conseils-articles-div">
          <p class="main-bold-paragraphe mt0 mb20"><%= conseil.title %></p>
          <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/reveil.png", alt: "émoji horloge", class: "emojis-eflc-small" %> Lecture:</span> <%= conseil.lecture_time %> minutes</p>
          <% if conseil.objectif.present? %>
            <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/main-pointer.png", alt: "émoji objectif", class: "emojis-eflc-small" %> Objectif:</span> <%= conseil.objectif %></p>
          <% end %>
          <p class="arrow text-align-right"><%= image_tag "arrow-rouille.svg", alt: "icône flèche" %></p>
        </div>
      <% end %>
    </div>
  <% elsif conseil.class == ConseilsVideo %>
    <div class="card-index-conseils-videos">
      <%= link_to conseils_video_path(conseil) do %>
        <div class="card-index-conseils-videos-div">
          <% if conseil.image.attached? %>
            <div>
              <%= cl_image_tag conseil.image.key, class: "image-conseil", alt: "image conseil" %>
            </div>
          <% end %>
          <div class="flottante-play">
            <%= image_tag "play.svg", alt: "icône play vidéo" %>
          </div>
          <div class="cards-videos-info">
            <p class="cards-tags mb0">
              <%= ConseilsVideo::VIDEO_FORMAT[conseil.format.to_sym] %>
            </p>
            <p class="main-bold-paragraphe mt5 mb30"><%= conseil.title %> | <span class="spectral-italic">avec <%= conseil.protagoniste %></span></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
