<% @conseils.sort_by(&:created_at).reverse.each do |conseil| %>
  <% if conseil.class == ConseilsArticle %>
    <div class="card-index-conseils-articles">
      <%= link_to conseils_article_path(conseil) do %>
        <div class="card-index-conseils-articles-div">
          <div class="flottante-div">
            <div class="flottante">
              <% conseil.category_list.each do |category| %>
                <% if category == "Administratif & Financier" %>
                  <%= image_tag "emojis/livre-rouge.png", class: "emojis-eflc" %>
                <% end %>
                <% if category == "Artistique & Technique" %>
                  <%= image_tag "emojis/stylo.png", class: "emojis-eflc" %>
                <% end %>
                <% if category == "Egalite & inclusion" %>
                  <%= image_tag "emojis/etoile.png", class: "emojis-eflc" %>
                <% end %>
              <% end %>
            </div>
          </div>
          <p class="main-bold-paragraphe mb30"><%= conseil.title %></p>
          <p class="paragraphe mb0"><span class="paragraphe-bold"><%= image_tag "emojis/reveil.png", class: "emojis-eflc" %> Lecture:</span> <%= conseil.lecture_time %> minutes</p>
          <% if conseil.objectif.present? %>
            <p class="paragraphe mb0"><span class="paragraphe-bold"><%= image_tag "emojis/main-pointer.png", class: "emojis-eflc" %> Objectif:</span> <%= conseil.objectif %></p>
          <% end %>
          <p class="arrow text-align-right"><%= image_tag "arrow-rouille.svg" %></p>
        </div>
      <% end %>
    </div>
  <% elsif conseil.class == ConseilsVideo %>
    <div class="card-index-conseils-videos">
      <%= link_to conseils_video_path(conseil) do %>
        <div class="card-index-conseils-videos-div">
          <% if conseil.image.attached? %>
            <div>
              <%= cl_image_tag conseil.image.key, class: "image-conseil"  %>
            </div>
          <% end %>
          <div class="flottante-div">
            <div class="flottante">
              <% conseil.category_list.each do |category| %>
                <% if category == "Administratif & Financier" %>
                  <%= image_tag "emojis/livre-rouge.png", class: "emojis-eflc" %>
                <% end %>
                <% if category == "Artistique & Technique" %>
                  <%= image_tag "emojis/stylo.png", class: "emojis-eflc" %>
                <% end %>
                <% if category == "Egalite & inclusion" %>
                  <%= image_tag "emojis/etoile.png", class: "emojis-eflc" %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="flottante-play">
            <%= image_tag "play.svg" %>
          </div>
          <div class="cards-videos-info">
            <p class="cards-tags mb0">
              <%= conseil.tags.join(",") %>
            </p>
            <p class="main-bold-paragraphe mb30"><%= conseil.title %> | <span class="paragraphe"><%= conseil.protagoniste %></span></p>
            <p class="paragraphe mb0"><span class="paragraphe-bold"><%= image_tag "emojis/reveil.png", class: "emojis-eflc" %> Lecture:</span> <%= conseil.lecture_time %> minutes</p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
