<div class="footer">
  <div class="logo-footer">
    <%= image_tag "gouv-footer.svg", alt: "logo ministère de la culture" %>
    <%= image_tag "beta-gouv-footer.svg", alt: "logo beta.gouv.fr" %>
  </div>
  <div class="div-link-footer">
    <div class="links-footer">
      <%= link_to "Accessibilité : partiellement conforme", accessibilite_path(anchor: "top") %>
      <hr class="vl">
      <%= link_to "Mentions légales", mentions_legales_path(anchor: "top") %>
      <hr class="vl">
      <%= link_to "Politique de confidentialité", politique_confidentialite_path(anchor: "top") %>
      <hr class="vl">
      <%= link_to "Conditions générales", conditions_generales_path %>
    </div>
    <div class="links-footer">
      <%= link_to "Aides", helps_path %>
      <hr class="vl">
      <%= link_to "Ressources", ressources_path %>
      <hr class="vl">
      <%= link_to "Entraide", entraide_path %>
      <hr class="vl">
      <%= link_to "Index Parité", organizations_path %>
      <hr class="vl">
      <%= link_to "À propos", "https://beta.gouv.fr/startups/ellesfontlaculture.html", target: :_blank %>
      <hr class="vl">
      <%= link_to "Statistiques", stats_path %>
    </div>
    <p>Sauf mention contraire, tous les textes de ce site sont sous <a href="https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf" target="_blank" class="license">licence etatlab-2.0</a> <%= image_tag "icone-download.svg" , alt: "icône flèche"%></p>
    <p>Le code source de cette application est librement réutilisable et accessible sur <a href="https://github.com/betagouv/ellesfontlaphoto" target="_blank" class="license">github</a></p>
    <div class="footer-social-media">
      <%= link_to "https://www.instagram.com/ellesfontlaculture_/", target: :_blank do %>
        <%= image_tag "icones-footer/instagram.svg", class: "footer-social-media-img", alt: "icône Instagram" %>
      <% end %>
      <%= link_to "https://www.youtube.com/channel/UCOCH1XbTymGfdHwY3vrMs9w", target: :_blank do %>
        <%= image_tag "icones-footer/youtube.svg", class: "footer-social-media-img", style: "height: 25px;", alt: "icône Youtube" %>
      <% end %>
    </div>
  </div>
</div>
