<div data-contact-target="content">
  <%= simple_form_for [contact], url: contacts_path, method: :post, data: {contact_target:"form"} do |f| %>
    <% if f.object.errors.any? %>
      <div id="error_explanation">
        <% f.object.errors.full_messages.each do |msg| %>
          * <%= msg %><br>
        <% end %>
        <br>
      </div>
    <% end %>
    <%= invisible_captcha %>
    <%= f.input :contact_type,
                  as: :select,
                  label: "Objet",
                  placeholder: "Sélectionnez une option",
                  collection: ['Donner son avis', 'Une question ?', 'Devenir Testeuse', 'Partenariat et contribution', 'Autre'],
                  required: true %>
    <%= f.input :contact_email,
                  label: "E-mail",
                  required: true %>
    <%#= f.input :email, as: :hidden %>
    <%= f.input :comment,
                  as: :text,
                  label: "Votre message",
                  required: true %>
    <div class="form-check checkbox">
      <%= f.input :accept_cgu, label: false %>
      <%= f.label :accept_cgu do %>
        J'accepte la <%= link_to 'politique de confidentialité', politique_confidentialite_path %>
      <% end %>
    </div>
    <div class="btn-div">
      <%= f.button :submit, "Envoyer", data: {action: "click->contact#create"}, class: "btn btn-purple" %>
    </div>
  <% end %>
</div>
