<% helps.each do |help| %>
  <div class="card-index-helps">
    <%= link_to help_path(help) do %>
      <% next_date = help.candidature_dates.where("end_date >= ?", Date.today).order("end_date ASC").first %>
      <%= render "shared/flottante_help", help: help, next_date: next_date %>
      <p class="main-bold-paragraphe card mt0 mb20"><%= help.title.to_sym %></p>
      <div class="paragraphe paragrahe-gains card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/gain.png", alt: "émoji gains", class: "emojis-eflc-small" %> Gains :</span> <%= help.help_amount.html_safe %></div>
      <% if help.permanent %>
        <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/calendrier.png", alt: "émoji calendrier", class: "emojis-eflc-small" %> Dates de candidature :</span> Permanente</p>
      <% elsif next_date.nil? %>
        <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/calendrier.png", alt: "émoji calendrier", class: "emojis-eflc-small" %> Dates de candidature :</span> Fermée</p>
      <% else %>
        <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/calendrier.png", alt: "émoji calendrier", class: "emojis-eflc-small" %> Dates de candidature :</span> <%= I18n.l help.candidature_dates.where("end_date >= ?", Date.today).order("end_date ASC").first.start_date, format: :long %></p>
      <% end %>
      <% if help.residence_condition.present? || help.general_condition.present? %>
        <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/epingle.png", alt: "émoji conditions", style: "width: 15px;" %> Conditions :</span> résidence en
      <% end %>
      <% if help.residence_condition.present? %>
        <% if help.residence_condition == "Française ou résidant en France" %>
          France
        <% elsif help.residence_condition == "Française résidant en outre-mer" %>
          outre-mer
        <% else %>
          <%= help.residence_condition %>
        <% end %>
      <% end %>
        <% if help.general_condition.present? %>
          , <%= help.general_condition %>
        <% end %>
      </p>
      <p class="arrow text-align-right"><%= image_tag "arrow.svg", alt: "icône flèche" %></p>
    <% end %>
  </div>
<% end %>
