<% helps.each do |help| %>
  <div class="card-index-helps">
    <%= link_to help_path(help) do %>
      <div class="flottante-div">
        <div class="flottante">
          <% help.type_list.each do |type| %>
            <% if type == "Matériel" %>
              <%= image_tag "emojis/appareil-photo.png", class: "emojis-eflc-small" %>
            <% end %>
            <% if type == "Production" %>
              <%= image_tag "emojis/outils.png", class: "emojis-eflc-small" %>
            <% end %>
            <% if type == "Aide Sociale" %>
              <%= image_tag "emojis/boule-de-cristal.png", class: "emojis-eflc-small" %>
            <% end %>
            <% if type == "Résidence" %>
              <%= image_tag "emojis/maison.png", class: "emojis-eflc-small" %>
            <% end %>
            <% if type == "Diffusion" %>
              <%= image_tag "emojis/haut-parleur.png", class: "emojis-eflc-small" %>
            <% end %>
          <% end %>
        </div>
        <% if help.start_date.present?  %>
          <% if help.start_date < Date.today && Date.today < help.end_date %>
            <div class="flottante2">C'est maintenant !</div>
          <% elsif (help.start_date - Date.today).to_i < 90 %>
            <div class="flottante2">C'est bientôt !</div>
          <% end %>
        <% end %>
      </div>
      <p class="main-bold-paragraphe mb30"><%= help.title.to_sym %></p>
      <p class="paragraphe mb0"><span class="paragraphe-bold"><%= image_tag "emojis/gain.png", class: "emojis-eflc-small" %> Gains :</span> <%= help.help_amount %></p>
      <% if help.start_date.present? %>
        <p class="paragraphe mb0"><span class="paragraphe-bold"><%= image_tag "emojis/calendrier.png", class: "emojis-eflc-small" %> Dates de candidature :</span> <%= I18n.l help.start_date, format: :long %></p>
      <% end %>
      <p class="paragraphe mb0"><span class="paragraphe-bold"><%= image_tag "emojis/epingle.png", style: "width: 15px;" %> Résidence en :</span>
      <% if help.residence_condition == "Française ou résidant en France" %>
        France
      <% elsif help.residence_condition == "Française résidant en outre-mer" %>
        outre-mer
      <% else %>
        <%= help.residence_condition %>
      <% end %>
      </p>
      <p class="paragraphe condition-help mb0"><span class="paragraphe-bold">Conditions :</span>
        <% if help.general_condition.present? %>
          <%= help.general_condition %>
        <% end %>
      </p>
      <p class="arrow text-align-right"><%= image_tag "arrow.svg" %></p>
    <% end %>
  </div>
<% end %>
