<div id="main-index-helps">
  <div class="header-index">
    <% if @selected %>
      <h1 class="spectral-title"><span class="color-purple"><%= @helps.count %></span>/<%= @total_count %> aides<br> pour les photographes</h1>
    <% else %>
      <h1 class="spectral-title"><%= @total_count %> aides<br> pour les photographes</h1>
    <% end %>
    <p class="paragraphe-small info-result text-align-center">Nous ajoutons régulièrement des aides. Dernière mise à jour le <%= Help.all.order(:created_at).last.created_at.strftime("%d/%m/%Y") %></p>
    <%= image_tag "illu-index.svg" %>
  </div>
  <div class="main-index">
    <div class="cards cards-help" id="cards-anchor">
      <div class="info-contenu-div-help">
        <p class="info-contenu-help lh35 main-bold-paragraphe text-align-center">Vous connaissez une autre aide ? Soumettez la, et contribuez à cette initiative !</p>
        <div class="text-align-center">
          <a href="/proposer_aide" class="button-contenu-help">Recensez une aide</a>
        </div>
      </div>
      <%= render "shared/helps_cards", helps: @helps %>
    </div>
  </div>
</div>
