<header class="header">
  <div class="header_body-row">
    <div class="header_brand">
      <a href="/" class="header_logo" >
        <h2 class="logo">Elles font la culture</h2>
      </a>
    </div>
    <div class="header_tools-links">
      <ul class="menu links-group mb0">
        <li>
          <%= link_to helps_path, class: "link-menu helps-link-menu #{params[:controller] == "helps" && params[:action] == "index" ? "helps-link-selected" : "" }" do  %>
            <span class="links-icones"><%= image_tag "emojis/argent-volant.png", alt: "émoji aides", class: "emojis-eflc-medium" %></span> Aides
          <% end %>
        </li>
        <li>
          <%= link_to conseils_path, class: "link-menu conseils-link-menu #{params[:controller] == "conseils_pratiques" && params[:action] == "index" ? "conseils-link-selected" : "" }" do  %>
            <span class="links-icones"> <%= image_tag "emojis/diamant.png", alt: "émoji conseils et témoignages", class: "emojis-eflc-medium" %></span> Ressources
          <% end %>
        </li>
        <li>
          <%= link_to rencontre_path, class: "link-menu conseils-link-menu #{params[:controller] == "pages" && params[:action] == "rencontre" ? "conseils-link-selected" : "" }" do  %>
            <span class="links-icones"> <%= image_tag "emojis/femmes.png", alt: "émoji conseils et témoignages", class: "emojis-eflc-medium", style: "width: 52px;" %></span> Rencontre
          <% end %>
        </li>
      </ul>
    </div>
    <a class="link-menu manifeste-link-menu" href="/a_propos">À propos</a>
  </div>
</header>

<header class="header-mobile">
  <a href="/" class="logo-mobile">Elles font la culture</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="menu-span">MENU</span> <span class="navicon"></span></label>
  <ul class="menu">
    <a href="/helps"><li><%= image_tag "emojis/argent-volant.png", alt: "émoji aides", class: "emojis-eflc-small" %> Aides</li></a>
    <a href="/conseils"><li><%= image_tag "emojis/poignee-main.png", alt: "émoji conseils et témoignages", class: "emojis-eflc-small" %> Ressources et conseils</li></a>
    <a href="/a_propos"><li>À propos</li></a>
  </ul>
</header>

