<div data-controller="menu">
  <header class="header">
    <div class="header_body-row">
      <div class="header_brand">
        <a href="/" class="header_logo" >
          <h2 class="logo">Elles font la culture</h2>
        </a>
      </div>
      <div class="header_tools-links">
        <ul class="menu links-group mb0">
          <li data-action="mouseover->menu#helpMouseOver mouseout->menu#helpMouseOut">
            <%= link_to helps_path, class: "link-menu #{params[:controller] == "helps" && params[:action] == "index" ? "link-selected" : "" }" do  %>
              <div class="menu-name"><span class="links-icones"><%= image_tag "emojis/argent-volant.png", alt: "émoji aides", class: "emojis-eflc-medium" %></span> Aides</div>
            <% end %>
          </li>
          <li data-action="mouseover->menu#conseilsMouseOver mouseout->menu#conseilsMouseOut">
            <%= link_to conseils_path, class: "link-menu #{params[:controller] == "conseils_pratiques" && params[:action] == "index" ? "link-selected" : "" }" do  %>
              <div class="menu-name"><span class="links-icones"> <%= image_tag "emojis/carnet-noir.png", alt: "émoji ressources et conseils", class: "emojis-eflc-medium" %></span> Ressources</div>
            <% end %>
          </li>
          <li data-action="mouseover->menu#entraideMouseOver mouseout->menu#entraideMouseOut">
            <%= link_to rencontre_path, class: "link-menu #{params[:controller] == "pages" && params[:action] == "rencontre" ? "link-selected" : "" }" do  %>
              <div class="menu-name"><span class="links-icones"> <%= image_tag "emojis/femmes.png", alt: "émoji recontre", class: "emojis-eflc-medium", style: "width: 52px;" %></span> Entraide</div>
            <% end %>
          </li>
          <li data-action= "mouseover->menu#indexMouseOver mouseout->menu#indexMouseOut">
            <%= link_to organizations_path, class: "link-menu #{params[:controller] == "pages" && params[:action] == "chiffres_inegalites" ? "link-selected" : "" }" do  %>
              <div class="menu-name"><span class="links-icones"> <%= image_tag "emojis/balance.png", alt: "émoji recontre", class: "emojis-eflc-medium" %></span> Index Parité</div>
            <% end %>
          </li>
          <li data-action="mouseover->menu#chiffresMouseOver mouseout->menu#chiffresMouseOut">
            <%= link_to infographie_path, class: "link-menu #{params[:controller] == "pages" && params[:action] == "chiffres_inegalites" ? "link-selected" : "" }" do  %>
              <div class="menu-name"><span class="links-icones"> <%= image_tag "emojis/graphique.png", alt: "émoji recontre", class: "emojis-eflc-medium" %></span> Chiffres inégalités</div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="banner-info banner-menu" data-menu-target="bannerHelp">
    <p>Info sur les aides</p>
  </div>
  <div class="banner-info banner-menu" data-menu-target="bannerConseils">
    <p>Info sur les conseils</p>
  </div>
  <div class="banner-info banner-menu" data-menu-target="bannerEntraide">
    <p>Info sur l'entraide</p>
  </div>
  <div class="banner-info banner-menu" data-menu-target="bannerIndex">
    <p>Info sur l'index</p>
  </div>
  <div class="banner-info banner-menu" data-menu-target="bannerChiffres">
    <p>Info sur les chiffres</p>
  </div>
</div>

<header class="header-mobile">
  <a href="/" class="logo-mobile">Elles font la culture</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="menu-span">MENU</span> <span class="navicon"></span></label>
  <ul class="menu">
    <a href="/helps"><li><%= image_tag "emojis/argent-volant.png", alt: "émoji aides", class: "emojis-eflc-small", style: "width: 26px;" %> Aides</li></a>
    <a href="/conseils"><li><%= image_tag "emojis/poignee-main.png", alt: "émoji ressources et conseils", class: "emojis-eflc-small", style: "width: 28px;" %> Ressources et conseils</li></a>
    <a href="/rencontre"><li><%= image_tag "emojis/femmes.png", alt: "émoji rencontre", class: "emojis-eflc-small", style: "width: 65px; height: 24px;" %> Rencontres</li></a>
    <a href="/chiffres_inegalites"><li>Chiffres inégalités</li></a>
    <a href="/a_propos"><li>À propos</li></a>
  </ul>
</header>
