<div data-controller="menu">
  <header class="header">
    <div class="header_body-row">
      <div class="header_brand">
        <a href="/" class="header_logo" >
          <h2 class="logo">Elles font la culture</h2>
        </a>
      </div>
      <div class="header_tools-links">
        <ul class="menu links-group mb0">
          <li data-action="mouseover->menu#helpMouseOver mouseout->menu#helpMouseOut">
            <%= link_to helps_path, class: "link-menu #{ params[:controller] == "helps" && params[:action] == "index" ? "link-selected" : "" }" do  %>
              <div class="menu-name"><span class="links-icones"><%= image_tag "emojis/argent-volant.png", alt: "émoji aides", class: "emojis-eflc-medium" %></span> Aides</div>
            <% end %>
          </li>
          <li data-action="mouseover->menu#conseilsMouseOver mouseout->menu#conseilsMouseOut">
            <%= link_to ressources_path, class: "link-menu #{ params[:controller] == "conseils_pratiques" && params[:action] == "index" ? "link-selected" : "" }" do  %>
              <div class="menu-name"><span class="links-icones"> <%= image_tag "emojis/carnet-noir.png", alt: "émoji ressources et conseils", class: "emojis-eflc-medium", style: "width: 18px" %></span> Ressources</div>
            <% end %>
          </li>
          <li data-action="mouseover->menu#entraideMouseOver mouseout->menu#entraideMouseOut">
            <%= link_to entraide_path, class: "link-menu #{ params[:controller] == "pages" && params[:action] == "entraide" ? "link-selected" : "" }" do  %>
              <div class="menu-name"><span class="links-icones"> <%= image_tag "emojis/femmes.png", alt: "émoji recontre", class: "emojis-eflc-medium", style: "width: 52px;" %></span> Entraide</div>
            <% end %>
          </li>
          <li data-action= "mouseover->menu#indexMouseOver mouseout->menu#indexMouseOut">
            <%= link_to organizations_path, class: "link-menu #{ params[:controller] == "organizations" && params[:action] == "index" ? "link-selected" : ""}" do  %>
              <div class="menu-name"><span class="links-icones"> <%= image_tag "emojis/balance.png", alt: "émoji recontre", class: "emojis-eflc-medium" %></span> Index parité</div>
            <% end %>
          </li>
          <li data-action="mouseover->menu#chiffresMouseOver mouseout->menu#chiffresMouseOut">
            <%= link_to infographie_path, class: "link-menu #{ params[:controller] == "pages" && params[:action] == "infographie" ? "link-selected" : ""}" do  %>
              <div class="menu-name"><span class="links-icones"> <%= image_tag "emojis/graphique.png", alt: "émoji recontre", class: "emojis-eflc-medium", style: "width: 18px" %></span> Infographie</div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="banner-info banner-menu" data-menu-target="bannerHelp">
    <p>Résidences, bourses, prix, appels à candidatures...</p>
  </div>
  <div class="banner-info banner-menu" data-menu-target="bannerConseils">
    <p>Quels tarifs pratiquer ? Comment construire un dossier de candidature ? Protéger ses droits d’autrice...</p>
  </div>
  <div class="banner-info banner-menu" data-menu-target="bannerEntraide">
    <p>Être conseillée ou conseiller ses paires, obtenir un retour sur son travail </p>
  </div>
  <div class="banner-info banner-menu" data-menu-target="bannerIndex">
    <p>Quelle parité dans les structures culturelles et festivals photo ?</p>
  </div>
  <div class="banner-info banner-menu" data-menu-target="bannerChiffres">
    <p>Les chiffres des inégalités dans le secteur de la photographie</p>
  </div>
</div>

<header class="header-mobile">
  <a href="/" class="logo-mobile">Elles font la culture</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="menu-span">Menu</span> <span class="navicon"></span></label>
  <ul class="menu">
    <%= link_to helps_path do %>
      <li class= "<%= params[:controller] == 'helps' && params[:action] == 'index' ? 'link-selected' : '' %>">
        <div>
          <p class="paragraphe-bold d-flex justify-center align-center"><%= image_tag "emojis/argent-volant.png", alt: "émoji aides", class: "emojis-eflc-small", style: "width: 20px;" %> Aides</p class="paragraphe-bold">
          <p class="paragraphe-x-small">Résidences, bourses, prix, appels à candidatures...</p>
        </div>
      </li>
    <% end %>
    <%= link_to ressources_path do %>
      <li class="<%= params[:controller] == "conseils_pratiques" && params[:action] == "index" ? "link-selected" : "" %>">
        <div>
          <p class="paragraphe-bold d-flex justify-center align-center"><%= image_tag "emojis/carnet-noir.png", alt: "émoji ressources et conseils", class: "emojis-eflc-small", style: "width: 20px;" %> Ressources</p class="paragraphe-bold">
          <p class="paragraphe-x-small">Quels tarifs pratiquer ? Comment construire...</p>
        </div>
      </li>
    <% end %>
    <%= link_to entraide_path do %>
      <li class="<%= params[:controller] == "pages" && params[:action] == "entraide" ? "link-selected" : "" %>">
        <div>
            <p class="paragraphe-bold d-flex justify-center align-center"><%= image_tag "emojis/femmes.png", alt: "émoji rencontre", class: "emojis-eflc-small", style: "width: 50px; height: 18px;" %> Rencontres</p class="paragraphe-bold">
            <p class="paragraphe-x-small">Être conseillée ou conseiller ses paires...</p>
        </div>
      </li>
    <% end %>
    <%= link_to organizations_path do %>
      <li class="<%= params[:controller] == "organizations" && params[:action] == "index" ? "link-selected" : "" %>">
        <div>
          <p class="paragraphe-bold d-flex justify-center align-center"><%= image_tag "emojis/balance.png", alt: "émoji index parité", class: "emojis-eflc-small", style: "width: 20px;" %>Index parité</p class="paragraphe-bold">
          <p class="paragraphe-x-small">Quelle parité dans les structures culturelles...</p>
        </div>
      </li>
    <% end %>
    <%= link_to infographie_path do %>
      <li class="<%= params[:controller] == "pages" && params[:action] == "infographie" ? "link-selected" : "" %>">
        <div>
          <p class="paragraphe-bold d-flex justify-center align-center"><%= image_tag "emojis/graphique.png", alt: "émoji infographie", class: "emojis-eflc-small", style: "width: 20px;" %>Infographie</p class="paragraphe-bold">
          <p class="paragraphe-x-small">Les chiffres des inégalités dans le secteur...</p>
        </div>
      </li>
    <% end %>
  </ul>
</header>
