<div data-controller="notationhelp">
  <div class="banner-yellow" data-notationhelp-target="div">
    <div class="banner-text">
      <p class="paragraphe mt10" data-notationhelp-target="text">Aidez-nous à améliorer le service.&nbsp;<b> Cette page m'est ...</b></p>
      <p class="paragraphe d-grid">
        <span class="notation-button" id="notation-help-yes" data-action="click->notationhelp#send">utile, je candidate</span>
        <span class="notation-button" id="notation-help-yesbut" data-action="click->notationhelp#send">utile, mais l'aide n’est pas ouverte</span>
        <span class="notation-button" id="notation-help-no" data-action="click->notationhelp#send">inutile</span>
      </p>
    </div>
    <p class="close" data-action="click->notationhelp#close"><%= image_tag "close.png" %></p>
  </div>

  <%= form_tag notation_helps_path, id: "notation-help", method: :post, remote: true,
      data: { notationhelp_target: 'form' } do %>
    <%= text_field_tag :answer, params[:answer] %>
    <%= text_field_tag :help_id, help_id %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
