<div class="rencontre" id="rencontre-page">
  <div class="div-liens-rencontre">
    <h1 class="title-marianne">Par ici, on vous propose un espace <span class="spectral-title">d'entraide et rencontre</span>, participez !</h1>
    <div class="liens-rencontre">
      <p><%= image_tag "arrow-line.svg", alt: "flèche" %><a href="#revue-dossier">Revue de dossier et portfolio</a></p>
      <p><%= image_tag "arrow-line.svg", alt: "flèche" %><a href="#webinaires">Webinaires</a></p>
      <p><%= image_tag "arrow-line.svg", alt: "flèche" %><a href="#expertise">Expertise de la communauté</a></p>
      <p><%= image_tag "arrow-line.svg", alt: "flèche" %><a href="#abonnement">Suivre les actualités</a></p>
    </div>
  </div>

  <div id="revue-dossier">
    <%= render "case_reviews/new" %>
  </div>

  <div id="webinaires" class="webinaires-rencontre">
    <h3 class="spectral-title">Webinaires d'expert(e)s photo</h3>
    <p class="paragraphe text-align-center">Partages d'expériences et conseils pour développer votre carrière, consultez les replays</p>
    <div class="webinaires">
      <div class="cards-webinaire">
        <% @webinaires.each do |webinaire| %>
          <%= link_to webinaire.url != "" ? webinaire.url : webinaire.url_inscription, target: "blank" do %>
            <div class="card-webinaire">
              <div class="div-webinaire-img">
                <% i = 1 %>
                <% webinaire.images.each do |image| %>
                  <%= cl_image_tag image.key, class: "#{webinaire.images.count == 2 ? "webinaire-img-#{i}" : "webinaire-img"}", alt: "Image du webinaire" %>
                  <% i += 1 %>
                <% end %>
                <% if webinaire.date > Date.today %>
                  <div class="avenir">à venir</div>
                <% else %>
                  <div class="play"></div>
                <% end %>
              </div>
              <div class="webinaire-info">
                <p class="paragraphe-bold"><%= webinaire.titre %> <span class="spectral-italic"> avec <%= webinaire.participant %></span></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="expertise" class="join-community">
    <h3 class="spectral-title">Appuyez-vous sur l'expertise de vos pairs</h3>
    <div class="join-community-div">
      <div class="expertise">
        <div>
          <div class="d-flex justify-content-center">
            <%= image_tag "money.png", alt: "image finance" %>
          </div>
          <p class="main-paragraphe-medium">Tarifs pratiqués par la communauté</p>
          <%= link_to "consulter", conseils_article_path(ConseilsArticle.find(40)), class: "btn btn-black" %>
        </div>
      </div>
      <div class="expertise">
        <div>
          <div class="d-flex justify-content-center">
            <%= image_tag "digital-art.png", alt: "image art digital" %>
          </div>
          <p class="main-paragraphe-medium">Exemples de dossiers de candidature lauréats</p>
          <%= link_to "consulter", conseils_article_path(ConseilsArticle.find(34)), class: "btn btn-black" %>
        </div>
      </div>
    </div>
  </div>

  <div id="abonnement" class="rencontre-inscription">
    <div class="rencontre-inscription-div">
      <p class="subtitle-regular">Et pour ne manquer aucun événement, abonnez-vous à <span class="spectral-title">notre infolettre et instagram</span></p>
      <div class="btns-black">
        <a class="js-modal btn btn-black" data-modal="modal-newsletter" style="padding:8px 12px 12px;">
          <%= image_tag "emojis/enveloppe-coeur.png", alt:"emoji enveloppe", class: "emojis-eflc-small", style: "width: 22px; height: 15px; margin-right: 6px;" %>
          <span>inscription</span>
        </a>
        <a href="https://www.instagram.com/ellesfontlaculture_/" target="_blank" class="btn btn-black" style="margin-left: 3%; padding-top:8px;"><%= image_tag "instagram.svg", alt:"instagram", style: "margin-right: 6px;" %> <span>instagram</span></a>
      </div>
    </div>
  </div>
</div>
<%= render "shared/modale_newsletter", contact: @contact %>
