<div class="rencontre" id="rencontre-page">
  <div class="div-liens-rencontre">
    <h1 class="title-marianne">Par ici, on vous propose un espace <span class="spectral-title">d'entraide et rencontre</span>, participez !</h1>
    <div class="liens-rencontre">
      <p><%= image_tag "arrow-line.svg", alt: "flèche" %><a href="#revue-dossier">Revue de dossiers et portfolios</a></p>
      <p><%= image_tag "arrow-line.svg", alt: "flèche" %><a href="#webinaires">Webinaires</a></p>
      <p><%= image_tag "arrow-line.svg", alt: "flèche" %><a href="#facebook-group">Communauté facebook</a></p>
      <p><%= image_tag "arrow-line.svg", alt: "flèche" %><a href="#abonnement">Suivre les actualités</a></p>
    </div>
  </div>

  <div id="revue-dossier">
    <%= render "case_reviews/new" %>
  </div>

  <div id="webinaires" class="webinaires-rencontre">
    <h3 class="spectral-title">Webinaires d’expert(e)s photo</h3>
    <p class="paragraphe text-align-center">Partages d’expériences et conseils pour développer votre carrière, consultez les replays</p>
    <div class="webinaires">
      <div class="cards-webinaire">
        <% @webinaires.each do |webinaire| %>
          <%= link_to webinaire.url != "" ? webinaire.url : webinaire.url_inscription, target: "blank" do %>
            <div class="card-webinaire">
              <div class="div-webinaire-img">
                <% i = 1 %>
                <% webinaire.images.each do |image| %>
                  <%= cl_image_tag image.key, class: "#{webinaire.images.count == 2 ? "webinaire-img-#{i}" : "webinaire-img"}", alt: "Image du webinaire" %>
                  <% i += 1 %>
                <% end %>
                <div class="play"></div>
              </div>
              <div class="webinaire-info">
                <p class="paragraphe-bold"><%= webinaire.titre %> <span class="spectral-italic"> avec <%= webinaire.participant %></span></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="facebook-group" class="join-community">
    <div>
      <h3 class="spectral-title">Rejoindre la communauté Elles font la culture</h3>
      <%= image_tag "group.png", alt: "image communauté", class: "img-community mob" %>
      <p class="paragraphe">Vous êtes photographe professionnelle et souhaitez vous appuyer sur une communauté de paires pour élargir votre réseau, relire un dossier de candidature, partager des opportunités, demander des conseils... Rejoignez le groupe Facebook de rencontre, d'entraide et d'échange <em>Elles font la culture - photographie</em></p>
      <a href="https://www.facebook.com/groups/1891143867759342" target="_blank" class="btn btn-purple"><%= image_tag "facebook.svg", alt: "icône Facebook" %>  Rejoindre le groupe </a>
    </div>
    <%= image_tag "group.png", alt: "image communauté", class: "img-community desk" %>
  </div>

  <div id="abonnement" class="rencontre-inscription">
    <div class="rencontre-inscription-div">
      <p class="subtitle-regular">Et pour ne manquer aucun événement, abonnez-vous à <span class="spectral-title">notre infolettre et instagram</span></p>
      <div class="btns-black">
        <a class="js-modal btn btn-black" data-modal="modal-newsletter" style="padding:8px 12px 12px;">
          <%= image_tag "emojis/enveloppe-coeur.png", alt:"emoji enveloppe", class: "emojis-eflc-small", style: "width: 22px; height: 15px; margin-right: 6px;" %>
          <span>inscription</span>
        </a>
        <a href="https://www.instagram.com/ellesfontlaculture_/" target="_blank" class="btn btn-black" style="margin-left: 3%; padding-top:8px;"><%= image_tag "instagram.svg", alt:"instagram", style: "margin-right: 6px;" %> <span>instagram</span></a>
      </div>
    </div>
  </div>
</div>
<%= render "shared/modale_newsletter", contact: @contact %>
