<div id="banner-contact" class="banner-yellow">
  <a href="#contact" class="paragraphe">Vous consultez une page en construction, écrivez nous pour l'améliorer !</a>
</div>
<div class="banner">
  <%= image_tag "illu-home-1.png", class: "illu-home-1" %>
  <%= image_tag "illu-home-2.png", class: "illu-home-2" %>
  <h1><a href="/helps" class="underline-purple">Aides financières</a> et <a href="/conseils" class="underline-pink">conseils pratiques</a> pour les photographes femmes</h1>
  <%= image_tag "illu-home-3_1440.png", class: "illu-home-3-1440" %>
  <%= image_tag "illu-home-3_320_768.png", class: "illu-home-3-320-768" %>
  <%= image_tag "illu-home-3_768_1024.png", class: "illu-home-3-768-1024" %>
</div>

<div class="first-block">
  <div class="first-block-left">
    <p class="paragraphe-bold">Notre mission :</p>
    <p class="subtitle">Accompagner les femmes et minorités de genre à poursuivre leur carrière</p>
    <p class="paragraphe-spectral-italic">Car encore aujourd’hui, 58% de femmes sont sur les bancs des écoles contre 35% dans la vie professionnelle.</p>
  </div>
  <div class="first-block-right">
    <p class="paragraphe-bold">Notre service a vocation à : </p>
      <p class="paragraphe-icones"> <span class="icones"><%= image_tag "emojis/etoile.png", style: "width: 65%;" %></span>
      <span class="paragraphe">Améliorer la connaissance des aides et ressources financières, techniques... </span></p>
      <p class="paragraphe-icones"> <span class="icones"><%= image_tag "emojis/poignee-main.png",  style: "width: 73%;" %></span>
      <span class="paragraphe">Faciliter l'entraide par le partage d’expériences</span></p>
      <p class="paragraphe-icones"><span class="icones"><%= image_tag "emojis/arc.png", style: "width: 65%;" %></span>
      <span class="paragraphe">S’armer pour lutter contre les inégalités de genre et sensibiliser autour de soi</span></p>
  </div>
</div>
<div class="second-block" id="comment">
  <p class="subtitle-spectral">Un catalogue d'aides financières, matérielles, et de résidences pour simplifier vos candidatures</p>
  <div class="flex-div">
    <a class="button-helps" href="/helps"> <%= image_tag "emojis/argent-volant.png", style: "width: 10%; margin-right: 5px;" %> Trouver mes aides</a>
    <div class="exemple-helps">
      <div class="cards">
        <%= render "shared/helps_cards", helps: @helps %>
      </div>
    </div>
    <a class="button-helps-mobile" href="/helps"> <%= image_tag "emojis/argent-volant.png", class: "emojis-eflc-small" %> Trouver mes aides</a>
  </div>
</div>
<div class="third-block flex-div">
  <div class="third-block-div">
    <a class="button-conseils" href="/conseils"> <%= image_tag "emojis/poignee-main.png", style: "margin-right: 5px; height: 19px; width: 26px; margin-top: 5px;" %> Conseils & témoignages</a>
    <p class="subtitle-spectral">Pour présenter son portfolio, estimer ses cotisations d’artiste-autrice,  s’inspirer d’expériences…</p>
    <a class="button-conseils-mobile" href="/conseils"> <%= image_tag "emojis/poignee-main.png", class: "emojis-eflc-small" %> Conseils & témoignages</a>
    <p class="paragraphe p-conseil-tag-home"><span class="thematique-span">Thématiques :</span>
      <a href="/conseils?category_list=Administratif+%26+Financier&tag_list=" class="conseil-tag-home"><%= image_tag "emojis/livre-rouge.png", class: "emojis-eflc-small" %> administratifs et financiers</a>
      <a href="/conseils?category_list=Artistique+%26+Technique&tag_list=" class="conseil-tag-home"><%= image_tag "emojis/crayon.png", class: "emojis-eflc-small" %> artistiques et techniques</a href="">
      <a href="/conseils?category_list=Egalite+%26+inclusion&tag_list=" class="conseil-tag-home"><%= image_tag "emojis/etoile.png", class: "emojis-eflc-small" %> égalité et inclusion</a href="">
    </p>
  </div>
  <%= image_tag "illu-home-5.png", class: "illu-home-5"%>
</div>
<div class="fourth-block">
  <div class="title-chiffre-mobile">
    <p class="paragraphe-bold">Nos chiffres :
    </p>
  </div>
  <div class="flex-div">
    <div class="title-chiffre">
      <p class="paragraphe-bold">Nos chiffres :
      </p>
    </div>
    <div class="div-chiffre">
      <p class="chiffre mb0">340</p>
      <p class="paragraphe-spectral-italic mb0">testeuses pour une amélioration continue</p>
    </div>
    <div class="div-chiffre">
      <p class="chiffre mb0">43</p>
      <p class="paragraphe-spectral-italic mb0">aides financières</p>
    </div>
    <div class="div-chiffre">
      <p class="chiffre mb0">15</p>
      <p class="paragraphe-spectral-italic mb0">fiches pratiques</p>
    </div>
  </div>
</div>
<div class="contact-block" id="contact">
  <div class="contact-div">
    <p class="subtitle">Contact</p>
    <p class="paragraphe lh28">Vous êtes une institution, une professionnelle du secteur, une journaliste… Écrivez-nous pour faire évoluer cette boîte à outils d’empouvoirement ! </p>
    <p class="paragraphe lh28">Et pour simplement suivre l’évolution du service, abonnez-vous à l’infolettre. À bientôt ! </p>
    <div class="btn-contact-mobile">
      <button class="js-modal" data-modal="modal-contact" class="btn-modale-contact"><%= image_tag "emojis/crayon.png", class: "emojis-eflc-small" %> Nous écrire</button>
      <button class="js-modal" data-modal="modal-newsletter" class="btn-modale-contact"><%= image_tag "emojis/enveloppe-coeur.png", class: "emojis-eflc-small" %> S'abonner à l'infolettre</button>
    </div>
  </div>
  <div class="manifesto-div pb0">
    <p class="subtitle">Qui sommes-nous ? </p>
    <p class="paragraphe lh28">On parle de “nous”, mais on ne vous a toujours pas dit qui l’on est. Nous sommes <a class="link-blue-underlined" href="https://beta.gouv.fr/startups/ellesfontlaculture.html" target=”_blank”>une petite équipe </a>d’agentes du ministère de la Culture et d’expertes numérique rassemblées grâce à betagouv.</p>
    <div class="btn-manifesto-mobile">
      <a href="/a_propos" class="btn-manifesto"><%= image_tag "emojis/carnet-noir.png", class: "emojis-eflc-small" %> À propos</a>
      <%= image_tag "illu-home-4.png", class: "illu-home-4" %>
    </div>
  </div>
</div>
<div class="contact-block last">
  <div class="contact-div">
    <% if alert %>
      <p style="font-weight: 900;"><%= alert %></p>
    <% end %>
    <% if notice %>
      <p style="font-weight: 900;"><%= notice %></p>
    <% end %>
    <button class="js-modal btn-contact" data-modal="modal-contact"><%= image_tag "emojis/crayon.png", class: "emojis-eflc-small" %> Nous écrire</button>
    <button class="js-modal btn-contact" data-modal="modal-newsletter"><%= image_tag "emojis/enveloppe-coeur.png", class: "emojis-eflc-small" %> S'abonner à l'infolettre</button>
  </div>
  <div class="manifesto-div">
    <a class="btn-manifesto" href="/a_propos">
      <%= image_tag "emojis/carnet-noir.png", class: "emojis-eflc-small" %> À propos
    </a>
    <%= image_tag "illu-home-4.png", class: "illu-home-4" %>
  </div>
</div>

<%= render "shared/modales_contact" %>
