<div class="banner-title">
  <h1>Développer la carrière des photographes femmes et minorités de genre.</h1>
</div>

<div class="first-block">
  <div class="first-block-cards">
    <%= link_to helps_path do %>
      <div class="first-block-card purple">
        <%= image_tag 'aides/dotation-financiere.png', class: "image-first-block-card", alt: 'Aides financières' %>
        <div class="first-block-card-infos purple">
          <%= image_tag 'money.svg' %>
          <p class="first-block-card-infos-title">Aides financières</p>
          <p class="paragraphe first-block-card-infos-text">Résidences, bourses, prix, appels à candidatures...</p>
        </div>
        <%= image_tag "arrow-line.svg", class: "arrow-first-block-card", alt: "fleche" %>
      </div>
    <% end %>
    <%= link_to ressources_path do %>
      <div class="first-block-card orange">
        <%= image_tag 'aides/conseils.png', class: "image-first-block-card", alt: 'Ressources et conseils' %>
        <div class="first-block-card-infos orange">
          <%= image_tag 'book.svg' %>
          <p class="first-block-card-infos-title">Ressources et conseils</p>
          <p class="paragraphe first-block-card-infos-text">Construire son portfolio ? <br>Protéger ses droits d’autrice...</p>
        </div>
        <%= image_tag "arrow-line.svg", class: "arrow-first-block-card", alt: "fleche" %>
      </div>
    <% end %>
    <%= link_to entraide_path do %>
      <div class="first-block-card light-orange">
        <%= image_tag 'aides/accompagnement.png', class: "image-first-block-card", alt: 'Entraide et rencontres' %>
        <div class="first-block-card-infos light-orange">
          <%= image_tag 'community.svg' %>
          <p class="first-block-card-infos-title">Entraide et rencontres</p>
          <p class="paragraphe first-block-card-infos-text">Être conseillée ou conseiller ses paires</p>
        </div>
        <%= image_tag "arrow-line.svg", class: "arrow-first-block-card", alt: "flèche" %>
      </div>
    <% end %>
  </div>
</div>

<div class="second-block">
  <%= image_tag 'illu-femme-photo.png', class: "second-block-img" %>
  <div class="second-block-img-mobile">
    <%= image_tag 'illu-femmes-debout-mobile.png' %>
  </div>
  <div class="second-block-div text-align-center">
    <p class="title">Chiffrer le secteur de la photographie <br> pour réduire ses inégalités</p>
    <div class="d-flex justify-between">
      <div>
        <%= link_to organizations_path, class: "btn btn-black" do %>
        <% end %>
          <%= image_tag "emojis/justice-scales.svg", alt: "balance de justice" %> Infographie
        <p class="paragraphe p-second-block">Comparer le nombre d'exposantes et dirigeantes dans les structures photo</p>
      </div>
      <div>
        <%= link_to infographie_path, class: "btn btn-black" do %>
          <%= image_tag "emojis/data-visualization.svg", alt: "visualisation de données" %> Index parité
        <% end %>
        <p class="paragraphe p-second-block">Visualiser les inégalités du secteur (rémunération, récompense, harcèlement...)</p>
      </div>
    </div>
  </div>
  <%= image_tag 'illu-femme-debout.png', class: "second-block-img" %>
</div>


<div class="third-block">
  <div class="third-block-div" data-controller="home-carousel">
    <p class="subtitle-spectral">Derniers contenus ajoutés</p>
    <div class="cards-carousel" data-home-carousel-target="carousel">
      <% @contenus.each do |item| %>
        <% if item.class == Help %>
          <%= render "helps/helps_cards", help: item %>
        <% else %>
          <%= render "conseils_pratiques/conseils_cards", conseil: item %>
        <% end %>
      <% end %>
      <%= image_tag "arrow-carousel-right.svg", class: "arrow-carousel-right", alt: "flèche carousel droite", data: { action: "click->home-carousel#slideCarouselRight", home_carousel_target: "buttonRight"} %>
      <%= image_tag "arrow-carousel-left.svg", class: "arrow-carousel-left", alt: "flèche carousel gauche", data: { action: "click->home-carousel#slideCarouselLeft", home_carousel_target: "buttonLeft"} %>
    </div>
  </div>
</div>

<div class="fourth-block">
  <%= image_tag "illu-femme-stylo.png", class: "illu-femme-stylo", alt: "illustration femme" %>
  <p class="title-marianne"><span class="subtitle-spectral">Participez à cette initiative !</span> Ajoutez une aide pour les femmes photographes ! </p>
  <%= link_to "Proposer une aide", aides_ajouter_aide_path, target: "_blank", class: "btn btn-black" %>
</div>

<div class="contact-block" id="contact">
  <div class="contact-div purple">
  <div class="description-contact-div">
    <p class="subtitle pb30">Qui sommes nous ? <span class="subtitle-spectral">Quelles sont les prochaines étapes ?</span></p>
    <p class="paragraphe lh28">Nous sommes <a href="https://beta.gouv.fr/startups/ellesfontlaculture.html#equipe" target="_blank">une petite équipe</a> d’agents du ministère de la Culture et d’experts numériques indépendants rassemblés grâce aux méthodes <a href="https://beta.gouv.fr/startups/ellesfontlaculture.html" target="_blank">beta.gouv.fr</a>.</p>
  </div>
    <% if alert %>
      <p class="paragraphe-bold" style="font-weight: 900;"><%= alert %></p>
    <% end %>
    <% if notice %>
      <p class="paragraphe-bold" style="font-weight: 900;"><%= notice %></p>
    <% end %>
    <div class="d-flex">
      <a href="https://beta.gouv.fr/startups/ellesfontlaculture.html" target="_blank" class="btn btn-contact btn-flex"><%= image_tag "emojis/carnet-noir.png", alt:"émoji carnet", class: "emojis-eflc-small" %> À propos</a>
      <a class="js-modal btn btn-contact btn-flex" data-modal="modal-contact"><%= image_tag "emojis/crayon.png", alt: "émoji crayon", class: "emojis-eflc-small", style: "width: 20px; height: 17px;" %> Nous écrire</a>
    </div>
  </div>
  <div class="contact-div">
    <div class="description-contact-div">
      <p class="subtitle pb30">On reste en contact ? <span class="subtitle-spectral">Suivez l’évolution du service et nos événements</span></p>
      <%= image_tag "Group 215.svg" %>
    </div>
    <div class="div-btn-orange-home">
      <a class="js-modal btn btn-orange-home btn-flex" data-modal="modal-newsletter"><%= image_tag "emojis/enveloppe-coeur.png", alt: "émoji enveloppe", class: "emojis-eflc-small", style: "width: 28px;" %> S'abonner à l'infolettre</a>
      <a href="https://www.instagram.com/ellesfontlaculture_/" target="_blank" class="btn btn-orange-home btn-insta-home btn-flex"><%= image_tag "instagram-black.svg", alt:"émoji instagram", class: "emojis-eflc-small" %> instagram</a>
    </div>
  </div>
</div>

<%= render "shared/modales_contact" %>
