<div class="banner">
  <h4>Elles font la culture :</h4>
  <h1>Accompagner les femmes photographes dans leur carrière</h1>
</div>

<div class="first-block" id="pourquoi">
  <div>
    <p class="question-subtitle">POURQUOI CE PROJET</p>
    <p class="subtitle">60% de femmes sur les bancs des écoles, 35% dans les métiers de la photographie</p>
    <p class="paragraphe">Les femmes sont nombreuses à développer un intérêt pour les métiers de la photographie mais sont davantage freinées une fois en activité. Souvent moins programmées, moins visibles, moins rémunérées et moins primées que leurs homologues masculins, elles doivent faire face à de nombreux obstacles liés au genre.</p>
    <a class="dark-button" href="#">En savoir plus</a>
  </div>
  <div>
    <%= image_tag "camera.png", class:"camera-img" %>
    <!-- <img src="images/camera.png" class="camera-img" alt="camera"> -->
  </div>
</div>
<div class="quote">
  <p class="quote-first-block">Le ministère de la Culture s’engage à fournir aux femmes photographes des outils numériques pour combattre ces inégalités.</p>
</div>
<div class="second-block" id="comment">
  <div class="align-titles">
    <p class="question-subtitle">COMMENT</p>
    <p class="subtitle">On vous a interrogées</p>
  </div>
  <div class="flex-div">
    <%= image_tag "illustration-entretien.png", class:"entretien-img"  %>
    <p class="paragraphe entretien-paragraphe">Nous défendons un service public proche de ses usagères et usagers, et nous sommes donc allées à la rencontre de la profession pour développer une plateforme au plus près des besoins des femmes photographes.</p>
  </div>
  <div class="flex-div">
    <p class="main-paragraphe">Plus de <span class="subtitle">500</span> témoignages en 2021 </p>
    <hr class="vl">
    <p class="main-paragraphe">L'ensemble du secteur de la photographie: institutions publiques et privées, agences, commanditaires, presse, femmes et hommes photographes…</p>
    <hr class="vl">
    <p class="main-paragraphe">Vous avez été nombreuses à vous déclarer intéressées par le projet !</p>
  </div>
</div>
<div class="third-block flex-div" id="hypothese">
  <div class="third-block-div">
    <p class="question-subtitle">NOTRE HYPOTHÈSE DE SOLUTION</p>
    <p class="subtitle">Une boîte à outils collaborative</p>
    <p class="paragraphe">Notre proposition de service se fonde sur les témoignages reçus au cours d’entretiens ou par réponse aux questionnaires. La plateforme Elles font la culture souhaite proposer une boîte à outils collaborative permettant de mettre en relation les femmes photographes entre elles. Parmi les services pouvant être proposés : ateliers en ligne, partages d’expérience, centralisation de ressources (aides financières, appels d’offre…)</p>
    <div class="quote">
      <p class="quote-third-block">À l’écoute des retours, cette plateforme évoluera régulièrement pour s'adapter aux besoins des utilisatrices.</p>
    </div>
  </div>
  <div>
    <%= image_tag "help.png", class:"camera-img" %>
    <p class="paragraphe-quote">L'initiative Elles font la culture est construite par la mission Diversité-Égalité appuyée par l’atelier numérique, l'incubateur du ministère de la Culture ainsi que Beta.gouv.fr</p>
  </div>
</div>
<div class="fourth-block" id="calendrier">
  <div class="align-titles">
    <p class="question-subtitle">CALENDRIER</p>
    <p class="subtitle">Les prochaines étapes</p>
    <%= image_tag "calendar.png", class:"camera-img"  %>
  </div>
  <div class="flex-div">
    <div>
      <p class="paragraphe mb-0"><b>Juillet 2021</b> : Conception de la plateforme<br>
          <b>Août 2021</b> : Début des tests de la première version de la plateforme<br>
          <b>Novembre 2021</b> : Lancement officiel lors de Paris Photo<br>
          <b>Après le lancement</b> : Suivi des retours des utilisatrices
      </p>
    </div>
    <div class="small-quote quote-flex">
      <p class="quote-third-block">Dans les années qui viennent, la plateforme en ligne a vocation à être étendue à d’autres disciplines de la culture et de la création !</p>
    </div>
  </div>
</div>
<div class="contact-block" id="contact">
  <div class="contact-newsletter">
    <p class="subtitle">Pour suivre le projet</p>
    <p class="paragraphe">Si vous voulez recevoir des informations sur le projet (avancées, tests, lancement…) laissez-nous votre adresse !</p>
    <% if alert %>
      <p style="font-weight: 900;"><%= alert %></p>
    <% end %>
    <%= simple_form_for [@contact], url: contacts_path, method: :post, class: "newsletter-form" do |f| %>
      <%= f.input :contact_email,
                      label: "Email (obligatoire)",
                      placeholder: "Email",
                      required: true %>
      <%= f.input :contact_type,
                      input_html: { value: 'newsletter' },
                      as: :hidden %>
      <%= f.button :submit, "S'abonner" %>
    <% end %>
  </div>
  <div class="contact-comment">
    <p class="subtitle">Nous écrire : une idée, une question ? </p>
    <p class="paragraphe">Vous avez des propositions à nous soumettre, ou une interrogation spécifique ? Laissez nous un message !</p>
    <% if notice %>
      <p style="font-weight: 900;"><%= notice %></p>
    <% end %>
    <%= simple_form_for [@contact], url: contacts_path, method: :post do |f| %>
      <%= f.input :contact_email,
                      label: "Email (obligatoire)",
                      placeholder: "Email",
                      required: true %>
      <%= f.input :contact_type,
                    as: :select,
                    label: "Pourquoi ?",
                    placeholder: "Choisissez votre type de contact",
                    collection: ['Une idée ? Une question ?', 'Devenir Beta Testeuse'],
                    include_hidden: false,
                    required: true %>
      <%= f.input :message,
                      placeholder: "Votre message",
                      as: :text,
                      required: true %>
      <%= f.button :submit, "Envoyer" %>
    <% end %>
  </div>
</div>
