<div id="banner-contact" class="banner-info banner-home">
  <a href="#contact" class="paragraphe show">Vous consultez une page en construction, <u>écrivez nous</u> pour l'améliorer !</a>
</div>
<div class="banner">
  <h1>Développer la carrière des photographes femmes et minorités de genre.</h1>
</div>

<div class="first-block">
  <div class="first-block-cards">
    <%= link_to helps_path do %>
      <div class="first-block-card purple">
        <%= image_tag 'aides/dotation-financiere.png', class: "image-first-block-card", alt: 'Aides financières' %>
        <div class="first-block-card-infos purple">
          <%= image_tag 'money.svg' %>
          <p class="first-block-card-infos-title">Aides financières</p>
          <p class="paragraphe first-block-card-infos-text">Résidences, bourses, prix, appels à candidatures...</p>
        </div>
        <%= image_tag "arrow-line.svg", class: "arrow-first-block-card", alt: "fleche" %>
      </div>
    <% end %>
    <%= link_to conseils_path do %>
      <div class="first-block-card orange">
        <%= image_tag 'aides/conseils.png', class: "image-first-block-card", alt: 'Ressources et conseils' %>
        <div class="first-block-card-infos orange">
          <%= image_tag 'book.svg' %>
          <p class="first-block-card-infos-title">Ressources et conseils</p>
          <p class="paragraphe first-block-card-infos-text">Construire son portfolio ? Que faire en cas de contrefaçons ? <br>Protéger ses droits d’autrices...</p>
        </div>
        <%= image_tag "arrow-line.svg", class: "arrow-first-block-card", alt: "fleche" %>
      </div>
    <% end %>
    <%= link_to rencontre_path do %>
      <div class="first-block-card light-orange">
        <%= image_tag 'aides/accompagnement.png', class: "image-first-block-card", alt: 'Entraides et rencontres' %>
        <div class="first-block-card-infos light-orange">
          <%= image_tag 'community.svg' %>
          <p class="first-block-card-infos-title">Entraides et rencontres</p>
          <p class="paragraphe first-block-card-infos-text">Être conseillée ou conseiller ses paires</p>
        </div>
        <%= image_tag "arrow-line.svg", class: "arrow-first-block-card", alt: "flèche" %>
      </div>
    <% end %>
  </div>
</div>

<div class="second-block">
  <%= image_tag 'illu-femme-photo.png' %>
  <div class="second-block-div text-align-center">
    <p class="paragraphe-title">Car encore aujourd’hui, 60% de femmes sont sur les bancs des écoles, contre 35% dans la vie professionnelle.</p>
    <div class="btn-orange">les chiffres des inégalités</div>
  </div>
  <%= image_tag 'illu-femme-debout.png' %>
</div>


<div class="third-block">
  <div class="third-block-div">
    <p class="subtitle-spectral">Derniers contenus ajoutés</p>
    <div class="cards-carousel">
      <% @contenus.each do |item| %>
        <% if item.class == Help %>
          <%= render "helps/helps_cards", help: item %>
        <% else %>
          <%= render "conseils_pratiques/conseils_cards", conseil: item %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- DECOMMENTER LORSQUE LE TYPEFORM SERA FAIT -->
<!-- <div class="third-bis-block">
  <p class="mt0 mb10">Contribuer à cette initiative !</p>
  <p class="mt0 mb10">Recensez une nouvelle aide financière ou partager une ressource utile</p>
  <p class="mt0 mb30">avec la communauté de femmes photographes</p>
  <a href="#" class="button-contenu">Proposer un contenu</a>
</div> -->
<div class="fourth-block">
  <div class="title-chiffre-mobile">
    <p class="paragraphe-bold">Nos chiffres :
    </p>
  </div>
  <div class="flex-div">
    <div class="title-chiffre">
      <p class="paragraphe-bold">Nos chiffres :
      </p>
    </div>
    <div class="div-chiffre">
      <p class="chiffre mb0">340</p>
      <p class="paragraphe-spectral-italic mb0">testeuses pour une amélioration continue</p>
    </div>
    <div class="div-chiffre">
      <p class="chiffre mb0"><%= Help.all.count %></p>
      <p class="paragraphe-spectral-italic mb0">aides financières</p>
    </div>
    <div class="div-chiffre">
      <p class="chiffre mb0"><%= ConseilsVideo.all.count + ConseilsArticle.all.count %></p>
      <p class="paragraphe-spectral-italic mb0">fiches pratiques</p>
    </div>
  </div>
</div>
<div class="contact-block" id="contact">
  <div class="contact-div">
    <p class="subtitle">Contact</p>
    <p class="paragraphe lh28">Vous êtes une institution, une professionnelle du secteur, une journaliste… Écrivez-nous pour faire évoluer cette boîte à outils d’empouvoirement !</p>
    <p class="paragraphe lh28">Et pour simplement suivre l’évolution du service, abonnez-vous à l’infolettre. À bientôt !</p>
    <div class="btn-contact-mobile">
      <a class="js-modal btn-contact" data-modal="modal-contact" class="btn-modale-contact"><%= image_tag "emojis/crayon.png", alt:"emoji crayon", class: "emojis-eflc-small" %> Nous écrire</a>
      <a class="js-modal btn-contact" data-modal="modal-newsletter" class="btn-modale-contact"><%= image_tag "emojis/enveloppe-coeur.png", alt:"emoji enveloppe", class: "emojis-eflc-small" %> S'abonner à l'infolettre</a>
    </div>
  </div>
  <div class="manifesto-div pb0">
    <p class="subtitle">Qui sommes-nous ?</p>
    <p class="paragraphe lh28">On parle de “nous”, mais on ne vous a toujours pas dit qui l’on est. Nous sommes <a class="link-blue-underlined" href="https://beta.gouv.fr/startups/ellesfontlaculture.html" target=”_blank”>une petite équipe</a> d’agentes du ministère de la Culture et d’expertes numérique rassemblées grâce à betagouv.</p>
    <div class="btn-manifesto-mobile">
      <a href="/a_propos" class="btn-manifesto"><%= image_tag "emojis/carnet-noir.png", alt:"émoji carnet", class: "emojis-eflc-small" %> À propos</a>
    </div>
  </div>
</div>
<div class="contact-block last">
  <div class="contact-div">
    <% if alert %>
      <p class="paragraphe-bold" style="font-weight: 900;"><%= alert %></p>
    <% end %>
    <% if notice %>
      <p class="paragraphe-bold" style="font-weight: 900;"><%= notice %></p>
    <% end %>
    <a class="js-modal btn-contact" data-modal="modal-contact"><%= image_tag "emojis/crayon.png", alt: "émoji crayon", class: "emojis-eflc-small", style: "width: 20px; height: 17px;" %> Nous écrire</a>
    <a class="js-modal btn-contact" data-modal="modal-newsletter"><%= image_tag "emojis/enveloppe-coeur.png", alt: "émoji enveloppe", class: "emojis-eflc-small", style: "width: 22px; height: 17px;" %> S'abonner à l'infolettre</a>
  </div>
  <div class="manifesto-div">
    <a class="btn-manifesto" href="/a_propos">
      <%= image_tag "emojis/carnet-noir.png", alt: "émoji carnet", class: "emojis-eflc-small" %> À propos
    </a>
  </div>
</div>

<%= render "shared/modales_contact" %>
