<div class="banner-title">
  <h1>Chiffrer les inégalités de genre dans la photographie</h1>
  <p class="paragraphe">Les femmes sont majoritairement sur les bancs des écoles de  photographie, elles représentent pourtant moins d’un tiers de la profession artistique. Zoom sur une inégalité protéïforme.</p>
</div>

<div class="infographie-div purple">
  <div class="infographie-subdiv">
    <p class="infographie-title">Les femmes photographes sont davantage diplomées que les hommes, pourtant peu nombreuses à exercer le métier.</p>
    <p class="infographie-source purple">Sources : Observatoire de la mixité, Les Filles de la photo, 2020.Enquête Emploi 2018 à 2020, Insee, Ministère de la Culture, 2022.</p>
  </div>
  <div class="infographie-subdiv d-flex first-card">
    <%= image_tag "infographie-desktop/1.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/1.svg", class: "img-mobile" %>
    <div style="display: grid; margin-left: 20px;">
      <div>
        <p class="infographie-chiffre purple first-card">63%</p>
        <p class="paragraphe first-card mb0 mt0">des diplômés d’écoles de photographie sont des femmes</p>
      </div>
      <div style="margin-top: auto;">
        <p class="infographie-chiffre purple first-card">38%</p>
        <p class="paragraphe first-card mb0 mt0">des photographes français sont des femmes</p>
      </div>
    </div>
  </div>
  <p class="infographie-source-mobile purple">Sources : Observatoire de la mixité, Les Filles de la photo, 2020.Enquête Emploi 2018 à 2020, Insee, Ministère de la Culture, 2022.</p>
</div>

<div class="infographie-div orange">
  <div class="infographie-subdiv">
    <p class="infographie-title">Une inégalité de revenus constatée entre hommes et femmes photographes</p>
    <p class="infographie-source orange">Source : La Photographie en France au prisme du genre, 2014-2019, Ministère de la Culture, 2019.</p>
  </div>
  <div class="infographie-subdiv d-flex">
    <%= image_tag "infographie-desktop/2.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/2.svg", class: "img-mobile" %>
  </div>
  <p class="infographie-source-mobile orange">Source : La Photographie en France au prisme du genre, 2014-2019, Ministère de la Culture, 2019.</p>
</div>

<div class="infographie-div purple">
  <div class="infographie-subdiv">
    <p class="infographie-title">Les femmes photographes vivent moins de leurs activités que les hommes</p>
    <p class="infographie-source purple">Source : Observatoire de la mixité, Les Filles de la photo, 2020.</p>
  </div>
  <div class="infographie-subdiv d-flex">
    <%= image_tag "infographie-desktop/3.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/3.svg", class: "img-mobile" %>
  </div>
  <p class="infographie-source-mobile purple">Source : Observatoire de la mixité, Les Filles de la photo, 2020.</p>
</div>

<div class="infographie-div orange">
  <div class="infographie-subdiv">
    <p class="infographie-title">Les femmes photographes reçoivent moins d’aides que les hommes</p>
    <p class="infographie-source orange">Source : La Photographie en France au prisme du genre, 2014-2019, Ministère de la Culture, 2019.</p>
  </div>
  <div class="infographie-subdiv">
    <div style="display: grid; margin-left: 20px;">
      <p class="paragraphe"><span class="infographie-chiffre orange">33%</span> des aides à la photographie, la recherche et la production sont versées aux femmes, alors qu’elles représentent en moyennes 41% des demandes</p>
    </div>
    <%= image_tag "infographie-desktop/4.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/4.svg", class: "img-mobile" %>
  </div>
  <p class="infographie-source-mobile orange">Source : La Photographie en France au prisme du genre, 2014-2019, Ministère de la Culture, 2019.</p>
</div>

<div class="infographie-div-text">
  <p class="infographie-title">Les femmes sont moins sélectionnées que les hommes pour les prix, les festivals, les galeries et les commandes, <span class="infographie-title-spectral"> y compris quand elles candidatent considérablement plus.</span></p>
  <p class="infographie-source">Source : Observatoire de la mixité, Les Filles de la photo, 2021.</p>
</div>

<div class="infographie-div purple">
  <div class="infographie-subdiv">
    <p class="infographie-title">Les femmes photographes sont moins programmées dans les festivals</p>
    <p class="infographie-source purple">Source : Ministère de la culture, Mission Diversité-Egalité, 2021.</p>
  </div>
  <div class="infographie-subdiv">
    <div style="display: grid;">
      <p class="paragraphe mb30"><span class="infographie-chiffre purple">42%</span> des photographes exposés sont des femmes, sur 19 grands festivals de photographie, en 2021.</p>
    </div>
    <%= image_tag "infographie-desktop/5.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/5.svg", class: "img-mobile" %>
  </div>
  <p class="infographie-source-mobile purple">Source : Ministère de la culture, Mission Diversité-Egalité, 2021.</p>
</div>

<div class="infographie-div orange">
  <div class="infographie-subdiv">
    <p class="infographie-title">Les femmes sont très peu représentées dans grandes agences</p>
    <p class="infographie-source orange">Source : Festival les Femmes s’exposent.</p>
  </div>
  <div class="infographie-subdiv d-flex first-card">
    <%= image_tag "infographie-desktop/6.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/6.svg", class: "img-mobile" %>
    <div style="display: grid; margin-left: 20px;">
      <div>
        <p class="paragraphe">Moins d’<span class="infographie-chiffre orange">1/4</span> des photographes des grandes agences sont des femmes</p>
      </div>
    </div>
  </div>
  <p class="infographie-source-mobile orange">Source : Festival les Femmes s’exposent.</p>
</div>

<div class="infographie-div purple">
  <div class="infographie-subdiv">
    <p class="infographie-title">Les femmes photographes sont sous-représentées dans les postes de direction ou à responsabilité</p>
    <p class="infographie-source purple">Source : Ministère de la Culture, 2021</p>
  </div>
  <div class="infographie-subdiv">
    <%= image_tag "infographie-desktop/7.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/7.svg", class: "img-mobile" %>
    <div style="display: grid;">
      <p class="paragraphe">En 2021, sur 19 grands festivals de photographie : 11 étaient dirigés par des hommes, 5 par des femmes, 3 par une équipe mixte</p>
    </div>
  </div>
  <p class="infographie-source-mobile purple">Source : Ministère de la Culture, 2021</p>
</div>

<div class="infographie-div orange">
  <div class="infographie-subdiv left">
    <p class="infographie-title">Les collections photographiques sont encore largement consacrées aux artistes hommes</p>
    <p class="infographie-source orange">Source : Base Vidéomuseum, 2021</p>
  </div>
  <div class="infographie-subdiv d-flex right">
    <%= image_tag "infographie-desktop/8.svg", class: "img-desktop small" %>
    <%= image_tag "infographie-mobile/8.svg", class: "img-mobile" %>
    <div style="display: grid; margin-left: 20px;">
      <div>
        <p class="paragraphe lh35">Seul <span class="infographie-chiffre orange">1/4</span> des collections photographiques du CNAP <span class="infographie-chiffre orange">24%</span> et du Centre Pompidou <span class="infographie-chiffre orange">28%</span> émanent d’artistes femmes.</p>
      </div>
    </div>
  </div>
  <p class="infographie-source-mobile orange">Source : Base Vidéomuseum, 2021</p>
</div>

<div class="infographie-div purple">
  <div class="infographie-subdiv">
    <p class="infographie-title">Une consécration moindre pour les femmes photographes</p>
    <p class="infographie-source purple">Source : Observatoire de l’égalité entre femmes et hommes dans la culture et la communication, Ministère de la Culture, 2022.</p>
  </div>
  <div class="infographie-subdiv">
    <div style="display: grid;">
      <p class="paragraphe mb30"><span class="infographie-chiffre purple">31%</span> d’œuvres réalisés par des femmes dans les acquisitions publiques de photographie en 2020.</p>
    </div>
    <%= image_tag "infographie-desktop/9.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/9.svg", class: "img-mobile" %>
  </div>
  <p class="infographie-source-mobile purple">Source : Observatoire de l’égalité entre femmes et hommes dans la culture et la communication, Ministère de la Culture, 2022.</p>
</div>

<div class="infographie-div orange">
  <div class="infographie-subdiv">
    <p class="infographie-title">Les femmes photographes sont plus sujettes que les hommes à l’autocritique</p>
    <p class="infographie-source orange">Source : Observatoire de la mixité, Les Filles de la Photo, 2021.</p>
  </div>
  <div class="infographie-subdiv">
    <div style="display: grid;">
      <p class="paragraphe"><span class="paragraphe orange">9 femmes sur 10</span> ont déjà renoncées à proposer leur travail parce qu’elles le trouvaient trop peu abouti.</p>
    </div>
    <%= image_tag "infographie-desktop/10.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/10.svg", class: "img-mobile" %>
  </div>
  <p class="infographie-source-mobile orange">Source : Observatoire de la mixité, Les Filles de la Photo, 2021.</p>
</div>

<div class="infographie-div purple">
  <div class="infographie-subdiv">
    <p class="infographie-title">Les femmes photographes s’auto-censurent davantage que les hommes</p>
    <p class="infographie-source purple">Source : Observatoire de la mixité, Les Filles de la Photo, 2021.</p>
  </div>
  <div class="infographie-subdiv">
    <div style="display: grid;">
      <p class="paragraphe"><span class="paragraphe purple">8 femmes sur 10</span> trouvent assez ou très compliqué de présenter leur travail dans une galerie qu’elles ne connaissent pas.</p>
    </div>
    <%= image_tag "infographie-desktop/11.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/11.svg", class: "img-mobile" %>
  </div>
  <p class="infographie-source-mobile purple">Source : Observatoire de la mixité, Les Filles de la Photo, 2021.</p>
</div>

<div class="infographie-div-text">
  <p class="infographie-title">Les obstacles les plus fréquemment cités par les femmes photographes :</p>
  <p class="paragraphe">L’entre-soi masculin <br>Le déséquilibre dans les instances de sélection <br>La plus faible présence médiatique des femmes </p>
  <p class="infographie-source">Source : Observatoire de la mixité, Les Filles de la Photo, 2021.</p>
  <p class="infographie-source-mobile">Source : Observatoire de la mixité, Les Filles de la Photo, 2021.</p>
</div>

<div class="infographie-div orange">
  <div class="infographie-subdiv">
    <p class="infographie-title">Les femmes photographes sont largement plus confrontées au sexisme que les hommes</p>
    <p class="infographie-source orange">Source : Observatoire de la mixité, Les Filles de la Photo, 2021.</p>
  </div>
  <div class="infographie-subdiv">
    <%= image_tag "infographie-desktop/12.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/12.svg", class: "img-mobile" %>
    <div style="display: grid;">
      <p class="paragraphe mb30"><span class="infographie-chiffre orange">66%</span> des femmes ont déjà été victimes de remarques sexistes, contre 10% d’hommes.</p>
    </div>
  </div>
  <p class="infographie-source-mobile orange">Source : Observatoire de la mixité, Les Filles de la Photo, 2021.</p>
</div>

<div class="infographie-div purple">
  <div class="infographie-subdiv">
    <p class="infographie-title">Les femmes sont les principales victimes de violence ou harcèlement sexuel dans le monde de la photographie</p>
    <p class="infographie-source purple">Source : Observatoire de la mixité, Les Filles de la Photo, 2021.</p>
  </div>
  <div class="infographie-subdiv">
    <%= image_tag "infographie-desktop/13.svg", class: "img-desktop" %>
    <%= image_tag "infographie-mobile/13.svg", class: "img-mobile" %>
    <div style="display: grid;">
      <p class="paragraphe mb30"><span class="infographie-chiffre purple">20%</span> des femmes photographes ont déjà été victime de violence ou de harcèlement sexuel, contre 3% des hommes.</p>
    </div>
  </div>
  <p class="infographie-source-mobile purple">Source : Observatoire de la mixité, Les Filles de la Photo, 2021.</p>
</div>

<div class="infographie-div-text">
  <p class="infographie-title">Réutiliser ces chiffres sur vos réseaux ou présentations pour <span class="infographie-title-spectral">rendre visible ces inégalités !</span></p>
  <a href="" class="btn-orange"><%= image_tag "download.svg" %> télécharger les chiffres</a>
</div>
