<% if conseil.class == ConseilsArticle %>
  <div class="card-index-conseils-articles">
    <%= link_to conseils_article_path(conseil), target: :_blank do %>
      <% if (Time.now - conseil.created_at)/1.day < 15  %>
        <%= render "conseils_pratiques/flottante_conseils" %>
      <% end %>
      <div class="card-index-conseils-articles-div">
        <p class="main-bold-paragraphe mt0 mb20"><%= conseil.title %></p>
        <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/reveil.png", alt: "émoji horloge", class: "emojis-eflc-extra-small" %> Lecture:</span> <%= conseil.lecture_time %> minutes</p>
        <% if conseil.objectif.present? %>
          <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/main-pointer.png", alt: "émoji objectif", class: "emojis-eflc-extra-small", style:"width: 22px;" %> Objectif:</span> <%= conseil.objectif %></p>
        <% end %>
        <div class="paragraphe card mb0 card-intro"><%= conseil.introduction.html_safe %></div>
      </div>
      <div class="pastille-conseils pink">
        <%= image_tag "icone-fiche.svg", alt: "icône play noir" %> fiche
      </div>
    <% end %>
    <p class="arrow"><%= image_tag 'arrow-line.svg', alt: "icône flèche"%></p>
  </div>
<% elsif conseil.class == ConseilsVideo %>
  <div class="card-index-conseils-videos">
    <%= link_to conseils_video_path(conseil), target: :_blank do %>
      <% if (Time.now - conseil.created_at)/1.day < 15  %>
        <%= render "conseils_pratiques/flottante_conseils" %>
      <% end %>
      <div class="card-index-conseils-videos-div">
        <% if conseil.image.attached? %>
          <div class="div-img-conseils-videos">
            <%= cl_image_tag conseil.image.key, class: "image-conseil", alt: "image conseil" %>
            <div class="flottante-play">
              <%= image_tag "play.svg", alt: "icône play vidéo" %>
            </div>
          </div>
        <% end %>
        <div class="cards-videos-info">
          <p class="cards-tags mt0 mb0">
            <%= ConseilsVideo::VIDEO_FORMAT[conseil.format.to_sym] %>
          </p>
          <p class="main-bold-paragraphe mt0"><%= conseil.title %> | <span class="spectral-italic">avec <%= conseil.protagoniste %></span></p>
          <div class="paragraphe card mb0 card-intro"><%= conseil.subtitle %></div>
        </div>
        <div class="pastille-conseils green">
          <%= image_tag "icone-play.svg", alt: "icône play noir" %> témoignage
        </div>
      </div>
    <% end %>
    <p class="arrow"><%= image_tag 'arrow-line.svg', alt: "icône flèche"%></p>
  </div>
<% elsif conseil.class == Webinaire %>
  <div class="card-index-conseils-videos">
    <%= link_to conseil.url, target: :_blank do %>
      <% if (Time.now - conseil.created_at)/1.day < 15  %>
        <%= render "conseils_pratiques/flottante_conseils" %>
      <% end %>
      <% if conseil.images.attached? %>
        <div>
          <div class="imgs-webinaire">
            <%= cl_image_tag conseil.images.first.key, class: "image-conseil", alt: "image conseil" %>
            <% if conseil.images.second %>
              <%= cl_image_tag conseil.images.second.key, class: "image-conseil", alt: "image conseil" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="card-index-conseils-videos-div webinaire">
        <div class="cards-videos-info">
          <p class="main-bold-paragraphe mb20"><%= conseil.titre %> <span class="spectral-italic">avec <%= conseil.participant %></span></p>
          <div class="paragraphe card mb0 card-intro-webinaire"><%= conseil.description %></div>
        </div>
        <div class="pastille-conseils purple">
          <%= image_tag "icone-play.svg", alt: "icône play noir" %> webinaire
        </div>
      </div>
    <% end %>
    <p class="arrow"><%= image_tag 'arrow-line.svg', alt: "icône flèche"%></p>
  </div>
<% end %>
