<div id="main-index-conseils">
  <div class="btn btn-filter btn-black" data-show-filters-target="btnFilter" data-action="click->show-filters#show">
    Filtrer
  </div>
  <div class="header-index">
    <%= image_tag "illu-femme-debout.png", alt: "femme debout", class: "img-conseils" %>
    <% if @selected || @selected_type %>
      <% if @conseils.count == 0 %>
        <h1 class="spectral-title"><span class="color-orange">aucune ressource trouvée,</span> mais nous en ajoutons régulièrement, n’hésitez pas à revenir.</h1>
      <% else %>
        <h1 class="spectral-title"><span class="color-orange"><%= @conseils.count %></span> / <%= @total_count %> ressources et conseils<br> pour les photographes</h1>
      <% end %>
    <% else %>
      <h1 class="spectral-title"><%= @total_count %> ressources et conseils<br> pour les photographes</h1>
    <% end %>
  </div>
  <div class="main-index">
    <div class="cards">
      <div class="info-contenu-div-conseil">
        <p class="info-contenu-conseil lh35 main-bold-paragraphe text-align-center">
            Une ressource utile pour les femmes photographes ? Site, livre, asso... Soumettez-les !</p>
        <div class="text-align-center">
          <%= link_to "Recensez une ressource", ajouter_ressources_path, class: "button-contenu-conseil" %>
        </div>
      </div>
      <% @conseils.sort_by(&:created_at).reverse.each do |conseil| %>
        <%= render "conseils_cards", conseil: conseil %>
      <% end %>
      <div class="contact-index-conseils-div">
        <div class="contact-index-conseils">
          <p class="main-bold-paragraphe">Vous avez beaucoup scrollé... dîtes nous ce que vous cherchez !</p>
          <p data-action="click->show-filters#openModal" class="js-modal button-contact-index" data-modal="modal-contact">Bavardons</p>
        </div>
      </div>
    </div>
  </div>
</div>
