<div data-controller="notationcatalogue">
  <div class="banner-info banner-green" data-notationcatalogue-target="div">
    <div class="banner-text">
      <p class="paragraphe card mt10" data-notationcatalogue-target="text">Aidez-nous à améliorer le service.&nbsp;<b>Aidez-nous à améliorer le service, les  contenus de cette page me sont...</b></p>
      <p class="paragraphe card d-flex">
        <span class="notation-button" id="notation-catalogue-utile" data-action="click->notationcatalogue#send">utiles</span>
        <span class="notation-button" id="notation-catalogue-inutile" data-action="click->notationcatalogue#send">inutiles</span>
      </p>
    </div>
    <p class="close" data-action="click->notationcatalogue#close"><%= image_tag "close.png", alt: "icône fermeture" %></p>
  </div>

  <%= form_tag notation_catalogues_path, id: "notation-catalogue-conseils", method: :post, remote: true,
      data: { notationcatalogue_target: 'form' } do %>
    <%= text_field_tag :answer, params[:answer] %>
    <%= text_field_tag :catalogue, "Conseils" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
