<div class="search-div-category">
  <p class="text-search">Conseils</p>
  <div class="dropdown">
    <% if @selected.present? %>
      <div id="select-search-category" class="choosen"><%= ConseilsVideo::CONSEIL_CATEGORIES[@selected.to_sym] %><%= image_tag "arrow-search.svg", class: "arrow-search", width: "25px" %></div>
    <% else %>
      <div id="select-search-category"><span id="text-to-change-category"><%= ConseilsVideo::CONSEIL_CATEGORIES.values.sample %></span><%= image_tag "arrow-search.svg", class: "arrow-search", width: "25px" %></div>
    <% end %>
    <div id="dropdown-elements-category">
      <% ConseilsVideo::CONSEIL_CATEGORIES.values.each do |category| %>
        <div class="dropdown-content-category"><%= category %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="button-search">
  🎯 Lancer la recherche
</div>
<%= form_tag conseils_path, method: :get, id: "search-form" do %>
  <% if @selected.present? %>
    <%= text_field_tag :category_list, @selected %>
  <% else %>
    <%= text_field_tag :category_list %>
  <% end %>
  <div class="ici"></div>
  <% if @selected_tag.present? %>
    <%= text_field_tag :tag_list, @selected_tag %>
  <% else %>
    <%= text_field_tag :tag_list %>
  <% end %>
  <%= submit_tag "Search"%>
<% end %>
<div class="progress-container">
  <div class="progress"></div>
</div>
<div class="main-index">
  <div class="index-direction">
    <% if @selected.present? || @selected_tag.present? %>
      <div class="box-criteria">
        <p class="main-bold-paragraphe text-align-left"><%= @conseils.count %> conseils pratiques pour :</p>
        <% if @selected.present? %>
          <p class="button-criteria-selected" data-category="<%= @selected %>"><%= ConseilsVideo::CONSEIL_CATEGORIES[@selected.to_sym] %> <%= image_tag "cross-criteria.svg" %></p>
        <% end %>
        <% if @selected_tag.present? %>
          <% ConseilsVideo::CONSEIL_TAGS.each do |tag| %>
            <% if @selected_tag.include?(tag) %>
              <p class="button-criteria-selected tags" data-tag="<%= tag %>"><%= tag %>  <%= image_tag "cross-criteria.svg" %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="main-bold-paragraphe conseils-sum text-align-left"><%= @conseils.count %> conseils pratiques</p>
    <% end %>
    <div class="box-criteria">
      <p class="main-bold-paragraphe text-align-left">Précisez votre recherche :</p>
      <% ConseilsVideo::CONSEIL_TAGS.each do |tag| %>
        <% if params[:tag_list].present? %>
          <% unless params[:tag_list].include?(tag) %>
            <p class="button-criteria tags" data-tag="<%= tag %>"><%= tag %></p>
          <% end %>
        <% else %>
          <p class="button-criteria tags" data-tag="<%= tag %>"><%= tag %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="cards">
    <div class="index-direction-tablet-conseils">
      <% if @selected.present? || @selected_tag.present? %>
        <div class="box-criteria">
          <p class="main-bold-paragraphe text-align-left"><%= @conseils.count %> conseils pratiques pour :</p>
          <% if @selected.present? %>
            <p class="button-criteria-selected" data-category="<%= @selected %>"><%= ConseilsVideo::CONSEIL_CATEGORIES[@selected.to_sym] %> <%= image_tag "cross-criteria.svg" %></p>
          <% end %>
          <% if @selected_tag.present? %>
            <% ConseilsVideo::CONSEIL_TAGS.each do |tag| %>
              <% if @selected_tag.include?(tag) %>
                <p class="button-criteria-selected tags" data-tag="<%= tag %>"><%= tag %>  <%= image_tag "cross-criteria.svg" %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p class="main-bold-paragraphe sum-conseils text-align-left"><%= @conseils.count %> conseils pratiques</p>
      <% end %>
      <div class="box-criteria non-dropdown">
        <p class="main-bold-paragraphe text-align-left">Précisez votre recherche :</p>
        <% ConseilsVideo::CONSEIL_TAGS.each do |tag| %>
          <% if params[:tag_list].present? %>
            <% unless params[:tag_list].include?(tag) %>
              <p class="button-criteria tags" data-tag="<%= tag %>"><%= tag %></p>
            <% end %>
          <% else %>
            <p class="button-criteria tags" data-tag="<%= tag %>"><%= tag %></p>
          <% end %>
        <% end %>
      </div>
      <div class="box-criteria dropdown">
        <%= render "shared/dropdown_criteria_mobile" %>
      </div>
    </div>
    <%= render "shared/conseils_cards", conseils: @sorted_conseils %>
  </div>
</div>
