<div class="evaluation-help-div" id="review-div" data-controller="evaluation-helps" data-evaluation-helps-target="divNewEval">
  <p class="d-none cross" data-action="click->evaluation-helps#close" data-evaluation-helps-target="cross">&times;</p>
  <p class="paragraphe-title mt0">Vous connaissez cette aide, <br>évaluez-la !</p>
  <% if @error %>
    <p class="paragraphe-bold" style="color: red; font-weight: 900;">Une erreur est survenue pouvez vous réessayez</p>
  <% end %>
  <div data-evaluation-helps-target="divEval">
    <p class="paragraphe">Temps pour candidater :</p>
    <div class="d-flex justify-between">
      <div data-evaluation-helps-target="listDossier">
        <p class="paragraphe evaluation-text">faible
          <span class="notes-evaluation" data-action="click->evaluation-helps#setDossier">1</span>
          <span class="notes-evaluation" data-action="click->evaluation-helps#setDossier">2</span>
          <span class="notes-evaluation" data-action="click->evaluation-helps#setDossier">3</span>
          <span class="notes-evaluation" data-action="click->evaluation-helps#setDossier">4</span>
          <span class="notes-evaluation" data-action="click->evaluation-helps#setDossier">5</span>
        important</p>
        <div class="evaluation-text-phone">
          <div class="d-flex list-notes">
            <span class="notes-evaluation-phone" data-action="click->evaluation-helps#setDossier">1</span>
            <span class="notes-evaluation-phone" data-action="click->evaluation-helps#setDossier">2</span>
            <span class="notes-evaluation-phone" data-action="click->evaluation-helps#setDossier">3</span>
            <span class="notes-evaluation-phone" data-action="click->evaluation-helps#setDossier">4</span>
            <span class="notes-evaluation-phone" data-action="click->evaluation-helps#setDossier">5</span>
          </div>
          <div class="d-flex info-notation">
            <p class="paragraphe">difficile</p>
            <p class="paragraphe">simple</p>
          </div>
        </div>
      </div>
      <div class="button">
        <button class="button-evaluation-dossier" data-evaluation-helps-target="buttonDossier" data-action="click->evaluation-helps#sendDossier">Valider</button>
      </div>
    </div>
    <p class="paragraphe">Satisfaction des lauréates :</p>
    <div class="d-flex justify-between">
      <div data-evaluation-helps-target="listDispositif">
        <p class="paragraphe evaluation-text">à éviter
          <span class="notes-evaluation" data-action="click->evaluation-helps#setDispositif">1</span>
          <span class="notes-evaluation" data-action="click->evaluation-helps#setDispositif">2</span>
          <span class="notes-evaluation" data-action="click->evaluation-helps#setDispositif">3</span>
          <span class="notes-evaluation" data-action="click->evaluation-helps#setDispositif">4</span>
          <span class="notes-evaluation" data-action="click->evaluation-helps#setDispositif">5</span>
        à tenter !</p>
        <div class="evaluation-text-phone">
          <div class="d-flex list-notes">
            <span class="notes-evaluation-phone" data-action="click->evaluation-helps#setDispositif">1</span>
            <span class="notes-evaluation-phone" data-action="click->evaluation-helps#setDispositif">2</span>
            <span class="notes-evaluation-phone" data-action="click->evaluation-helps#setDispositif">3</span>
            <span class="notes-evaluation-phone" data-action="click->evaluation-helps#setDispositif">4</span>
            <span class="notes-evaluation-phone" data-action="click->evaluation-helps#setDispositif">5</span>
          </div>
          <div class="d-flex info-notation">
            <p class="paragraphe">à éviter</p>
            <p class="paragraphe">à tenter !</p>
          </div>
        </div>
      </div>
      <div class="button">
        <button class="button-evaluation-dispositif" data-evaluation-helps-target="buttonDispositif" data-action="click->evaluation-helps#sendDispositif">Valider</button>
      </div>
    </div>
  </div>

  <%= simple_form_for [help, evaluation_help], html: { data: { evaluation_helps_target: "formDossier" } } do |f| %>
    <%= f.input :email, input_html: {value: ''}  %>
    <%= f.input :eval_dossier, input_html: { "data-evaluation-helps-target" => "inputDossier" } %>
    <%= f.submit %>
  <% end %>

  <%= simple_form_for [help, evaluation_help], html: { data: { evaluation_helps_target: "formDispositif" } } do |f| %>
    <%= f.input :email, input_html: {value: ''}  %>
    <%= f.input :eval_dispositif, input_html: { "data-evaluation-helps-target" => "inputDispositif" } %>
    <%= f.submit %>
  <% end %>

  <%= form_with url: help_evaluation_helps_path(help), method: :get, html: { class:
    'mb-4', data: { evaluation_helps_target: 'formIndex' } } do |f| %>
    <%= f.text_field :id, value: help.id %>
  <% end %>
</div>
