<div class="ajout-case-review-page" data-controller="edit-case">
  <div class="ajout-case-review-title">
    <p class="subtitle-spectral">Partagez vos retours sur le travail de votre binôme ! </p>
    <p class="paragraphe">Les réponses renseignées dans ce formulaire lui seront transmises. </p>
  </div>
  <div class="ajout-case-review-form">
    <%= simple_form_for @case_review, url: case_review_path, method: :patch, id: "edit_case_review", data: {action: "submit->edit-case#submit"} do |f| %>
      <%= f.input :points_forts, label: "Qu'avez-vous aimé ? Quels sont les points forts de ce travail ?", hint: "Ex : le fond du sujet, la forme du dossier, le choix des images, etc." %>
      <%= f.input :points_faibles, label: "Selon vous, qu'est-ce-qui pourrait être amélioré ?", hint: "Ex : le fond du sujet, la forme du dossier, le choix des images, etc." %>
      <%= f.input :lien_video, label: ("Lien de votre vidéo #{link_to 'Loom', "https://www.loom.com/", target: :_blank }").html_safe, hint: "Cet outil vous permet de commenter le dossier avec un partage d'écran de manière simple et intuitive." %>
      <%= f.input :review_comment, as: :file, label: "Partager un fichier", hint: "Vous pouvez transmettre tout types de fichiers (mp3, png, pdf ...)" %>
      <%= f.input :autres, label: "Avez-vous autre chose à partager ?" %>
      <div class="btn-submit">
        <%= f.submit "Soumettre", class: "btn btn-black", data: { edit_case_target:"button" }%>
        <div data-edit-case-target="loader" class="loader-upload-edit flex-div justify-center">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
