<div class="case_review_new">
  <div class="consignes">
    <p class="title-marianne-bold">Besoin de retours sur votre dossier de candidature ? </p>
    <p class="paragraphe">Par ici, on vous propose d’obtenir les retour de vos paire sur votre dossier. C’est très simple :</p>
    <div class="sub-consignes">
      <%= image_tag "arrow-revue-dossier.svg" %>
      <ol>
        <li>Je dépose mon dossier</li>
        <li>Je reçois par mail le dossier de ma binôme photographe</li>
        <li>Je partage mes retours</li>
        <li>Je reçois les retours sur mon dossier par mail</li>
      </ol>
    </div>

  </div>
  <div class="form-new-case-reviews" data-controller="upload-case">
    <%= image_tag "illu-femme-stylo.png", class:"illu" %>
    <%= simple_form_for @case_review, data: {upload_case_target: "form", action: "submit->upload-case#submit"}  do |f| %>
      <%#= f.input :case, as: :file, id: "actual-btn" %>
      <label for="file-upload" class="btn btn-black" data-upload-case-target="label">
        <%= image_tag "download-white.svg" %></i> Chargez votre dossier
      </label>
      <input id="file-upload" name='upload_cont_img' type="file" style="display:none;" data-action="change->upload-case#upload">

      <%= f.input :candidate_email, label: "Votre e-mail" %>
      <%= f.submit "C'est parti !", class: "btn btn-grey" %>
    <% end %>

    <div data-upload-case-target="loader" class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <div data-upload-case-target="count"><p class="count"></p></div>
  </div>
</div>
<script>

