<% helps.each do |help| %>
  <% next_date = CandidatureDate.where(help: help).where("end_date >= ?", Date.today).order("end_date ASC").first %>
  <% unless next_date.nil? %>
    <div class="card-index-helps <%= ((next_date.end_date - Date.today).to_i < 30) ? "border-orange" : "" %>">
  <% else %>
    <div class="card-index-helps">
  <% end %>
    <%= link_to help_path(help) do %>
      <%= render "helps/flottante_help", help: help, next_date: next_date %>
      <p class="main-bold-paragraphe card mt0 mb20"><%= help.title.to_sym %></p>
      <div class="paragraphe paragrahe-gains card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/gain.png", alt: "émoji gains", class: "emojis-eflc-small" %> Gains :</span> <%= help.help_amount.html_safe %></div>
      <% if help.permanent %>
        <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/calendrier.png", alt: "émoji calendrier", class: "emojis-eflc-small" %> Dates de candidature :</span> Toute l'année</p>
      <% elsif next_date.nil? %>
        <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/calendrier.png", alt: "émoji calendrier", class: "emojis-eflc-small" %> Dates de candidature :</span> Fermée</p>
      <% else %>
        <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/calendrier.png", alt: "émoji calendrier", class: "emojis-eflc-small" %> Dates de candidature :</span> <%= I18n.l help.candidature_dates.where("end_date >= ?", Date.today).order("end_date ASC").first.end_date, format: :long %></p>
      <% end %>
      <% if help.general_condition.present? %>
        <p class="paragraphe card mb0"><span class="paragraphe-bold card"><%= image_tag "emojis/epingle.png", alt: "émoji conditions", style: "width: 15px;" %> Conditions :</span>
      <% end %>
      <% if help.residence_condition.present? %>
        résidence
        <% if help.residence_condition == "Française ou résidant en France" %>
          en France
        <% elsif help.residence_condition == "Française résidant en outre-mer" %>
          en Outre-mer
        <% elsif help.residence_condition == "Française résidant à l'étranger" %>
          à l'étranger
        <% else %>
          en <%= help.residence_condition %>
        <% end %>
        ,
      <% end %>
        <% if help.general_condition.present? %>
          <%= help.general_condition.html_safe %>
        <% end %>
      </p>
      <% unless next_date.nil? %>
        <p class="arrow text-align-right"><%= image_tag ((next_date.end_date - Date.today).to_i < 30) ? 'arrow-orange.svg' : 'arrow.svg', alt: "icône flèche" %></p>
      <% else %>
        <p class="arrow text-align-right"><%= image_tag "arrow.svg", alt: "icône flèche" %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
