<div id="main-index-helps">
  <div class="btn btn-filter btn-black" data-show-filters-target="btnFilter" data-action="click->show-filters#show">
    Filtrer
  </div>
  <div class="header-index">
    <%= image_tag "illu-femme-argent.png", alt: "femme recevant de l'argent", class:"img-aides" %>
    <% if @selected || @selected_type %>
      <% if @helps.count == 0 %>
        <h1 class="spectral-title"><span class="color-purple">aucune aide trouvée,</span> mais nous en ajoutons régulièrement, n’hésitez pas à revenir.</h1>
      <% else %>
        <h1 class="spectral-title"><span class="color-purple"><%= @helps.count %></span> / <%= @total_count %> aides<br> pour les photographes</h1>
      <% end %>
    <% else %>
      <h1 class="spectral-title"><%= @total_count %> aides<br> pour les photographes</h1>
    <% end %>
    <% if @helps.count > 0 %>
      <p class="paragraphe-small info-result text-align-center">Nous ajoutons régulièrement des aides. Dernière mise à jour le <%= Help.all.order(:created_at).last.created_at.strftime("%d/%m/%Y") %></p>
    <% end %>
  </div>
  <div class="main-index">
    <div class="cards cards-help" id="cards-anchor">
      <% if @helps.count > 5 %>
      <% end %>
      <% helps.each_with_index do |help, index| %>
        <% if index == 4 %>
          <div class="card-index-helps card-ajout-aides">
            <p class="main-bold-paragraphe lh35">Une aide pour les femmes photographes ? Soumettez-les !</p>
            <div class="text-align-center">
              <%= link_to "Recensez une aide", aides_ajouter_aide_path, class: "button-ajout-aide" %>
            </div>
          </div>
        <% end %>
        <%= render "helps_cards", help: help %>
      <% end %>
    </div>
  </div>
</div>
