<div class="div-index-helps">
  <div class="sub-div-index">
    <div class="header-index">
      <% if @selected %>
      <% else %>
        <h1 class="spectral-title"><%= @helps.count %> aides<br> pour les photographes</h1>
      <% end %>
      <p class="paragraphe-small info-result text-align-center">Nous ajoutons régulièrement des aides. Dernière mise à jour le <%= Help.all.order(:created_at).last.created_at.strftime("%d/%m/%Y") %></p>
      <%= image_tag "illu-index.svg" %>
    </div>
    <%= render "shared/notation_catalogue_helps" %>
    <%= render "shared/main_index_helps", helps: @helps %>
  </div>
  <div class="div-filters">
    <%= render "shared/filters_helps", selected: @selected, selected_type: @selected_type %>
  </div>
</div>
