<div class="ajout-aide-page">
  <div class="ajout-aide-title">
    <p class="subtitle-spectral">Participez à elles font la culture ! <span class="subtitle-regular">Ajoutez une aide pour les femmes photographes ! </span></p>
    <p class="paragraphe">Renseignez ce formulaire pour ajouter tous types d'appels à candidatures (prix, bourses, résidences, etc.) à notre catalogue et gagner ainsi en visibilité. </p>
  </div>
  <div class="ajout-aide-form" data-controller="new-help">
    <%= simple_form_for @help, data: {new_help_target: "form", action: "submit->new-help#submit"} do |f| %>
      <%= f.hidden_field :visible, value: 0 %>
      <%= f.hidden_field :suggested, value: 1 %>
      <p class="subtitle-medium">La structure </p>
      <%= f.input :institution_name, label: "Nom de la structure" %>
      <%= f.input :institution_url, label: "Site internet" %>
      <%= f.input :author_email, label: "Votre email", required: "required", hint: "Ne sera pas rendu public, sera utilisé pour d’éventuels complément d’information" %>
      <%= f.input :contact_intitution_email, label: "E-mail de contact", hint: "Sera rendu public et mis à disposition des candidates" %>
      <p class="subtitle-medium">Informations essentielles sur l’aide </p>
      <%= f.input :title, label: "Titre" %>
      <div class="flex-div">
        <%= f.input :type_list, collection: Help::HELP_TYPE, label: "Type de récompense", as: :check_boxes %>
        <%= f.input :type_photo_list, collection: Help::PHOTO_TYPE, label: "Type de photo", as: :check_boxes %>
      </div>
      <%= f.input :description, label: "Description (si résidence, indiquer les dates de la résidence ici)" %>
      <%= f.input :help_amount, label: "Gains pour les lauréates" %>
      <%= f.input :residence_time, label: "Durée de la résidence (si résidence)" %>
      <%= f.input :parentality, label: "Précisez les conditions d'accueil des familles (si résidence)" %>
      <%= f.input :accessibility, label: "Précisez les conditions d'accès aux personnes à mobilité réduite (si résidence)" %>
      <p class="subtitle-medium">Candidature </p>
      <%= f.input :general_condition, label: "Conditions de participation", input_html: { maxlength: 800 } %>
      <%= f.input :residence_condition, collection: Help::HELP_RESIDENCE, label: "Conditions de résidence", prompt: "Sélectionnez une option" %>
      <%= f.input :permanent, label: "Candidatures possibles toute l'année", input_html: { data: { new_help_target: "permanent", action: "change->new-help#selected" }} %>
      <div data-new-help-target = "candidaturesdates">
        <%= f.simple_fields_for :candidature_dates do |fa| %>
          <%= fa.input :start_date, as: :date, html5: true, label: "Date de début de candidature" %>
          <%= fa.input :end_date, as: :date, html5: true, label: "Date de fin de candidature" %>
        <% end %>
      </div>
      <%= f.input :admin_attachment, label: "Pièces administratives à fournir" %>
      <%= f.input :artistic_attachment, label: "Pièces artistiques à fournir" %>
      <%= f.input :candidate_url, label: "Lien de l'appel à candidatures" %>
      <%= f.input :selection, label: "Processus de sélection" %>
      <div class="btn-submit">
        <%= f.submit "Soumettre"%>
      </div>
    <% end %>
  </div>
</div>
