<% content_for :meta_title, "#{@help.title} sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @help.description %>

<%= render "shared/notation_help", help_id: @help.id %>

<div class="div-banner div-banner-help">
  <div class="flex-div-left">
    <a class="mr20" href="/helps"> <%= image_tag "return-arrow.svg", alt: "icône retour" %></a>
    <% @help.type_list.each do |type| %>
      <% if type == "Matériel" %>
        <a href="/helps?residence=&type_list=Matériel"><p class="fiche-tag"> <%= image_tag "emojis/argent-volant.png", alt: "émoji #{Help::HELP_TYPE[type.to_sym][:text]}", class: "emojis-eflc-small" %> <%= Help::HELP_TYPE[type.to_sym][:text] %></p></a>
      <% end %>
      <% if type == "Production" %>
        <a href="/helps?residence=&type_list=Production"><p class="fiche-tag"> <%= image_tag "emojis/argent-volant.png", alt: "émoji #{Help::HELP_TYPE[type.to_sym][:text]}", class: "emojis-eflc-small" %> <%= Help::HELP_TYPE[type.to_sym][:text] %></p></a>
      <% end %>
      <% if type == "Aide Sociale" %>
        <a href="/helps?residence=&type_list=Aide+Sociale"><p class="fiche-tag"> <%= image_tag "emojis/argent-volant.png", alt: "émoji #{Help::HELP_TYPE[type.to_sym][:text]}", class: "emojis-eflc-small" %> <%= Help::HELP_TYPE[type.to_sym][:text] %></p></a>
      <% end %>
      <% if type == "Diffusion" %>
        <a href="/helps?residence=&type_list=Diffusion"><p class="fiche-tag"> <%= image_tag "emojis/argent-volant.png", alt: "émoji #{Help::HELP_TYPE[type.to_sym][:text]}", class: "emojis-eflc-small" %> <%= Help::HELP_TYPE[type.to_sym][:text] %></p></a>
      <% end %>
      <% if type == "Résidence" %>
        <a href="/helps?residence=&type_list=Résidence"><p class="fiche-tag"> <%= image_tag "emojis/argent-volant.png", alt: "émoji aides", class: "emojis-eflc-small" %> <%= image_tag "emojis/maison.png", alt: "émoji résidence", class: "emojis-eflc-small" %> résidence</p></a>
      <% end %>
    <% end %>
  </div>
  <div class="banner-show">
    <div class="fiche-title">
      <h2><%= @help.title %></h2>
      <p class="paragraphe lh28"><%= @help.description %></p>
    </div>
    <hr class="hl-mobile">
    <div class="fiche-description">
      <p class="paragraphe-bold mb0"><%= image_tag "emojis/gain.png", alt: "émoji gains",class: "emojis-eflc-small" %> Gains :</p>
      <div class="paragraphe lh28 mt0 mb40">
        <%= @help.help_amount.html_safe %>
        <% if @help.help_advantage.present? %>
          <%= @help.help_advantage %>
        <% end %>
        <% if @help.residence_time.present? %>
          hébergement pour <%= @help.residence_time %>
        <% end %>
      </div>
      <hr class="hl">
      <% if @help.permanent %>
      <p class="paragraphe-bold mb0"><%= image_tag "emojis/calendrier.png", alt: "émoji dates", class: "emojis-eflc-small" %> Dépôt de candidatures :</p>
      <p class="paragraphe">Toute l'année</p>
      <% else %>
        <p class="paragraphe-bold mb0"><%= image_tag "emojis/calendrier.png", alt: "émoji dates", class: "emojis-eflc-small" %> Dates de candidature :</p>
        <p class="paragraphe lh28 lh28 mt0 mb40">
          <% if @help.regularity.present? %>
            <%= @help.regularity %><br>
          <% end %>
          <% @help.candidature_dates.where("end_date >= ?", Date.today).order("end_date ASC").each do |candidature_date| %>
            Du <%= I18n.l candidature_date.start_date, format: :long %> au <%= I18n.l candidature_date.end_date, format: :long %><br>
          <% end %>
        </p>
      <% end %>
      <hr class="hl">
      <p class="paragraphe-bold mb0">Conditions principales :</p>
      <% if @help.residence_condition.present? %>
        <p class="paragraphe lh28 mt0 mb0"><%= image_tag "emojis/epingle.png", alt: "émoji résidence", style: "width: 15px;" %>Résidence en :
        <% if @help.residence_condition == "Française ou résidant en France" %>
          France
        <% elsif @help.residence_condition == "Française résidant en outre-mer" %>
          outre-mer
        <% else %>
          <%= @help.residence_condition %>
        <% end %></p>
      <% end %>
      <% if @help.general_condition.present? %>
          <p class="paragraphe mt0 mb40"><%= @help.general_condition %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="arrondis arrondis-help">
</div>

<div class="help-content">
  <div class="div-btn">
    <% if @help.candidate_url.present? %>
      <% if @help_status == "open" || @help.permanent %>
        <a class="btn-candidate" href="<%= @help.candidate_url %>" target=”_blank” id="btn-candidate-help" onclick="_paq.push(['trackEvent', 'Candidatez', 'Candidat Click Lien', 'Nouveau Candidatez']);">🚀 Candidatez</a>
      <% end %>
    <% end %>
    <% if @help_status == "close" %>
      <% if @help.candidature_dates.where("start_date >= ?", Date.today).order("start_date ASC").first.nil? %>
        <p class="paragraphe-bold">Candidature actuellement fermée </p>
      <% else %>
        <p class="paragraphe-bold">Candidature actuellement fermée, revenez en <%= I18n.l @help.candidature_dates.where("start_date >= ?", Date.today).order("start_date ASC").first.start_date, format: "%B" %> ou </p>
      <% end %>
      <%= render "shared/notification_help", help: @help %>
    <% end %>
  </div>
  <% if @help.description_longue.present? %>
    <hr class="bhl">
    <div class="block-fiche-aide">
      <p class="subtitle">Description</p>
      <div class="paragraphe lh28"><%= @help.description_longue.html_safe %></div>
    </div>
  <% end %>
  <hr class="bhl">
  <div class="block-fiche-aide">
    <p class="subtitle">Sélection des lauréates et lauréats</p>
    <div class="paragraphe lh28"><%= @help.selection.html_safe %></div>

    <% if @help.example_enrollment_url.present? %>
      <p class="paragraphe-bold mb0">Exemple de dossiers lauréats</p>
      <a class="link-blue" target=”_blank” href="<%= @help.example_enrollment_url %>"> <%= image_tag "arrow-darkblue.svg", alt: "icône flèche" %> C'est ici</a>
    <% end %>
      <% if @help.compo_commission.present? %>
        <div class="div-parite mt30">
          <div class="div-parite-sub">
            <p class="paragraphe-bold mb0">Composition de la commission</p>
            <div class="paragraphe lh28 mb0 mt0"><%= @help.compo_commission.html_safe %></div>
      <% else %>
        <div class="div-parite">
          <div class="div-parite-sub">
      <% end %>
      <% if @help.url_commission.present? %>
          <a class="link-blue" target=”_blank” href="<%= @help.url_commission %>"> <%= image_tag "arrow-darkblue.svg", alt: "icône flèche" %> Membres de la commission</a>
      <% end %>
        </div>
      <% if @help.commission_parite.present? %>
        <%= render "shared/parite_pastille", commission_parite: @help.commission_parite %>
      <% end %>
      </div>
    <% if @help.old_laureat.present? %>
      <div class="div-parite mt30">
        <div class="div-parite-sub">
          <p class="paragraphe-bold mb0">Précédents lauréates & lauréats</p>
          <div class="paragraphe lh28 mb0 mt0"><%= @help.old_laureat.html_safe %></div>
          <% if @help.old_laureat_url.present? %>
            <a class="link-blue" target=”_blank” href="<%= @help.old_laureat_url %>"> <%= image_tag "arrow-darkblue.svg", alt: "icône flèche" %> Voir les lauréats</a>
          <% end %>
        </div>
        <% if @help.old_laureats_parite.present? %>
          <%= render "shared/parite_pastille", commission_parite: @help.old_laureats_parite %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr class="bhl">
  <div class="block-fiche-aide flex-div">
    <div class="flex-div-div">
      <p class="subtitle">Pièces à fournir</p>
      <p class="paragraphe-bold mb0"><%= image_tag "emojis/carnet.png", alt:"émoji Pièces administratives",class: "emojis-eflc-small" %> Pièces administratives</p>
      <%= @help.admin_attachment.html_safe %>
      <p class="paragraphe-bold mb0">🎨 Dossier artistique</p>
      <%= @help.artistic_attachment.html_safe %>
    </div>
    <div class="flex-div-div">
      <% if @help.other_attachment.present? %>
        <p class="paragraphe-bold mb0"><%= image_tag "emojis/carnet-noir.png", alt:"émoji Pièces spécifiques", class: "emojis-eflc-small" %> Pièces spécifiques</p>
        <div class="paragraphe"><%= @help.other_attachment.html_safe %></div>
      <% end %>
    </div>
  </div>
  <% if @help.parentality.present? || @help.accessibility.present? || @help.specific_condition.present? %>
    <hr class="bhl">
    <% if @help.specific_condition.present? %>
      <div class="block-fiche-aide">
        <p class="paragraphe-bold mb0">Conditions spécifiques</p>
        <div class="paragraphe"><%= @help.specific_condition.html_safe %></div>
      </div>
    <% end %>
    <% if @help.parentality.present? || @help.accessibility.present? %>
      <div class="block-fiche-aide">
        <p class="paragraphe-bold mb0">Accueil</p>
        <ul>
          <% if @help.parentality.present? %>
            <li><p class="paragraphe lh28 mb0"><%= @help.parentality %></p></li>
          <% end %>
          <% if @help.accessibility.present? %>
            <li><p class="paragraphe"><%= @help.accessibility %></p></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <hr class="bhl">
  <div class="block-fiche-aide">
    <p class="subtitle">Contact</p>
    <p class="paragraphe-bold mb0">Aide donnée par <%= @help.institution_name %> <% if @help.institution_url.present? %><a class="link-blue" target=”_blank” href="<%= @help.institution_url %>"> <%= image_tag "arrow-darkblue.svg", alt: "icône flèche" %> Site de l'intitution</a><% end %></p>
    <% if @help.contact_institution.present? || @help.contact_intitution_email.present? %>
      <p class="paragraphe lh28 mb0 mt0">N'hésitez pas à envoyer un e-mail pour présicer votre candidature : </p>
      <% if @help.contact_institution.present? %>
        <p class="paragraphe lh28 mb0 mt0"><%= @help.contact_institution.html_safe %></p>
      <% end %>
      <% if @help.contact_intitution_email.present? %>
        <p class="paragraphe lh28 mb0 mt0">
        <div class="link-blue mb0"><%= @help.contact_intitution_email.html_safe %></div>
        </p>
      <% end %>
    <% end %>
    <% if @help.contact_intitution_partenaire.present? || @help.institution_partenaire.present? %>
      <p class="paragraphe lh28 mb0">Partenaire participant à la sélection :
      <% if @help.institution_partenaire.present? %>
        <div class="paragraphe"><%= @help.institution_partenaire.html_safe %></div>
      <% end %>
      <% if @help.contact_intitution_partenaire.present? %>
        <div class="link-blue mb0"><%= @help.contact_intitution_partenaire.html_safe %></div>
      <% end %>
      </p>
    <% end %>
    <% if @help.faq_url.present? %>
      <a class="btn-faq" target=”_blank” href="<%= @help.faq_url %>">Foire aux questions / FAQ</a>
    <% end %>
  </div>
  <hr class="bhl">
  <p class="link-blue cursor-normal" style="text-align:center">N'hésitez pas à déposer votre dossier avant la date limite afin d'obtenir un retour s'il présente une erreur.</p>
</div>
