<div class=div-banner>
  <div class="flex-div-left">
    <a class="mr20" href="/helps"> <%= image_tag "return-arrow.svg" %></a>
    <% @help.type_list.each do |type| %>
      <% if type == "Matériel" %>
        <a href="/helps?residence=&type=Matériel"><p class="help-type"> <%= image_tag "emojis/argent-volant.png", class: "emojis-eflc-small" %> <%= Help::HELP_TYPE[type.to_sym][:text] %></p></a>
      <% end %>
      <% if type == "Production" %>
        <a href="/helps?residence=&type=Production"><p class="help-type"> <%= image_tag "emojis/argent-volant.png", class: "emojis-eflc-small" %> <%= Help::HELP_TYPE[type.to_sym][:text] %></p></a>
      <% end %>
      <% if type == "Aide Sociale" %>
        <a href="/helps?residence=&type=Aide+Sociale"><p class="help-type"> <%= image_tag "emojis/argent-volant.png", class: "emojis-eflc-small" %> <%= Help::HELP_TYPE[type.to_sym][:text] %></p></a>
      <% end %>
      <% if type == "Diffusion" %>
        <a href="/helps?residence=&type=Diffusion"><p class="help-type"> <%= image_tag "emojis/argent-volant.png", class: "emojis-eflc-small" %> <%= Help::HELP_TYPE[type.to_sym][:text] %></p></a>
      <% end %>
      <% if type == "Résidence" %>
        <a href="/helps?residence=&type=Résidence"><p class="help-type"> <%= image_tag "emojis/argent-volant.png", class: "emojis-eflc-small" %> <%= image_tag "emojis/maison.png", class: "emojis-eflc-small" %> résidence</p></a>
      <% end %>
    <% end %>
  </div>
  <div class="banner-show">
    <div class="help-title">
      <h2><%= @help.title %></h2>
      <p class="paragraphe"><%= @help.description %></p>
    </div>
    <hr class="hl-mobile">
    <div class="help-description">
      <p class="paragraphe paragraphe-bold"><%= image_tag "emojis/gain.png", class: "emojis-eflc-small" %> Gains :</p>
      <p class="paragraphe"><%= @help.help_amount %></p>
      <% if @help.residence_time.present? %>
        <p class="paragraphe">hébergement pour <%= @help.residence_time %></p>
      <% end %>
      <hr class="hl">
      <p class="paragraphe paragraphe-bold"><%= image_tag "emojis/calendrier.png", class: "emojis-eflc-small" %> Dates limites :</p>
      <% if @help.start_date.present? %>
        <p class="paragraphe">Début : <%= I18n.l @help.start_date, format: :long %> / Fin : <%= I18n.l @help.end_date, format: :long %></p>
      <% end %>
      <% if @help.regularity.present? %>
        <p class="paragraphe"><%= @help.regularity %></p>
      <% end %>
      <hr class="hl">
      <p class="paragraphe paragraphe-bold">Conditions pincipales :</p>
      <p class="paragraphe"><%= image_tag "emojis/epingle.png", style: "width: 15px;" %>Résidence en :
        <% if @help.residence_condition == "Française ou résidant en France" %>
          France
        <% elsif @help.residence_condition == "Française résidant en outre-mer" %>
          outre-mer
        <% else %>
          <%= @help.residence_condition %>
        <% end %>
      </p>
      <p class="paragraphe"><%= @help.general_condition %></p>
    </div>
  </div>
</div>

<div class="arrondis">
</div>

<div class="help-content">
  <div class="div-btn">
    <% if @help.candidate_url.present? %>
      <% if @help_status == "open" %>
        <a class="btn-candidate" href="<%= @help.candidate_url %>" target=”_blank” onclick="_paq.push(['trackEvent', 'Candidatez', 'Candidat Click Lien', 'Nouveau Candidatez']);">🚀 Candidatez</a>
      <% elsif @help_status == "close" %>
        <a class="btn-not-available"> <%= image_tag "emojis/fusee.png", class: "emojis-eflc-small" %> Candidatez </a>
        <p class="paragraphe-bold">Actuellement fermée, revenez en <%= I18n.l @help.start_date, format: "%B" %></p>
      <% end %>
    <% end %>
  </div>
  <hr class="bhl">
  <div class="block-fiche-aide">
    <p class="subtitle">Sélection des lauréates et lauréats</p>
    <div class="paragraphe"><%= @help.selection.html_safe %></div>

    <% if @help.example_enrollment_url.present? %>
      <p class="paragraphe-bold mb0">Exemple de dossiers lauréats</p>
      <a class="link-blue" target=”_blank” href="<%= @help.example_enrollment_url %>"> <%= image_tag "arrow-darkblue.svg" %> C'est ici</a>
    <% end %>
      <% if @help.compo_commission.present? %>
        <div class="div-parite mt30">
          <div class="div-parite-sub">
            <p class="paragraphe-bold mb0">Composition de la commission</p>
            <div class="paragraphe mb0"><%= @help.compo_commission.html_safe %></div>
      <% else %>
        <div class="div-parite">
          <div class="div-parite-sub">
      <% end %>
          <a class="link-blue" target=”_blank” href="<%= @help.url_commission %>"> <%= image_tag "arrow-darkblue.svg" %> Membres de la commission</a>
        </div>
      <% if @help.commission_parite.present? %>
        <%= render "shared/parite_pastille", commission_parite: @help.commission_parite %>
      <% end %>
      </div>
    <% if @help.old_laureat.present? %>
      <div class="div-parite mt30">
        <div class="div-parite-sub">
          <p class="paragraphe-bold mb0">Précédents lauréates & lauréats</p>
          <div class="paragraphe mb0"><%= @help.old_laureat.html_safe %></div>
          <a class="link-blue" target=”_blank” href="<%= @help.old_laureat_url %>"> <%= image_tag "arrow-darkblue.svg" %> Voir les lauréats</a>
        </div>
        <% if @help.old_laureats_parite.present? %>
          <%= render "shared/parite_pastille", commission_parite: @help.old_laureats_parite %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr class="bhl">
  <div class="block-fiche-aide flex-div">
    <div class="flex-div-div">
      <p class="subtitle">Pièces à fournir</p>
      <p class="paragraphe-bold mb0"><%= image_tag "emojis/carnet.png", class: "emojis-eflc-small" %> Pièces administratives</p>
      <%= @help.admin_attachment.html_safe %>
      <p class="paragraphe-bold mb0">🎨 Dossier artistique</p>
      <%= @help.artistic_attachment.html_safe %>
    </div>
    <div class="flex-div-div">
      <% if @help.other_attachment.present? %>
        <p class="paragraphe-bold mb0"><%= image_tag "emojis/carnet-noir.png", class: "emojis-eflc-small" %> Pièces spécifiques</p>
        <div class="paragraphe"><%= @help.other_attachment.html_safe %></div>
      <% end %>
    </div>
  </div>
  <% if @help.parentality.present? || @help.accessibility.present? || @help.specific_condition.present? %>
    <hr class="bhl">
    <% if @help.specific_condition.present? %>
      <div class="block-fiche-aide">
        <p class="paragraphe-bold mb0">Conditions spécifiques</p>
        <div class="paragraphe"><%= @help.specific_condition.html_safe %></div>
      </div>
    <% end %>
    <% if @help.parentality.present? || @help.accessibility.present? %>
      <div class="block-fiche-aide">
        <p class="paragraphe-bold mb0">Accueil</p>
        <ul>
          <% if @help.parentality.present? %>
            <li><p class="paragraphe mb0"><%= @help.parentality %></p></li>
          <% end %>
          <% if @help.accessibility.present? %>
            <li><p class="paragraphe"><%= @help.accessibility %></p></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <hr class="bhl">
  <div class="block-fiche-aide">
    <p class="subtitle">Contact</p>
    <p class="paragraphe-bold mb0">Aide donnée par <%= @help.institution_name %> <a class="link-blue" target=”_blank” href="<%= @help.url_commission %>"> <%= image_tag "arrow-darkblue.svg" %> Site de l'intitution</a></p>
    <p class="paragraphe mb0">N'hésitez pas à envoyer un e-mail pour présicer votre candidature : </p>
    <% if @help.contact_institution.present? %>
      <p class="paragraphe mb0"><%= @help.contact_institution.html_safe %></p>
    <% end %>
    <% if @help.contact_intitution_email.present? %>
      <p class="paragraphe mb0">
      <div class="link-blue mb0"><a href="mailto:<%= @help.contact_intitution_email %>" target=”_blank”><%= @help.contact_intitution_email %></a></div>
      </p>
    <% end %>
    <% if @help.contact_intitution_partenaire.present? %>
      <p class="paragraphe mb0">Partenaire participant à la sélection :
      <a href="<%= @help.contact_intitution_partenaire %>" target=”_blank” class="link-blue mb0"><%= @help.contact_intitution_partenaire %></a>
      </p>
    <% end %>
    <% if @help.faq_url.present? %>
      <a class="btn-faq" target=”_blank” href="<%= @help.faq_url %>">Foire aux questions / FAQ</a>
    <% end %>
  </div>
  <hr class="bhl">
  <p class="link-blue" style="text-align:center">N'hésitez pas à déposer votre dossier avant la date limite afin d'obtenir un retour s'il présente une erreur.</p>
</div>
