<div class="modal-content text-align-left" data-notificationhelp-target="content">
  <p class="subtitle">Recevoir un e-mail à l’ouverture de cette aide</p>
  <p class="paragraphe">Nous vous enverrons un message le jour de l’ouverture des candidatures, il vous rappelera cette page et où candidater !</p>
  <%= simple_form_for @notification_help, id: "notification-help-form", remote: true,
      data: { notificationhelp_target: 'form' } do |f| %>
      <%= f.input :email, required: true %>
      <div class="form-check checkbox">
        <%= f.input :accept_cgu, label: false, required: true, input_html: { data: {notificationhelp_target: "checkbox", action: "change->notificationhelp#buttonEnable"}} %>
        <%= f.label :accept_cgu do %>
          J'accepte la <%= link_to 'politique de confidentialité', politique_confidentialite_path %>
        <% end %>
      </div>
    <%= f.input :help_id, input_html: {value: help.id}, as: :hidden %>
    <div class="btn-div">
      <%= f.submit "S'inscrire", data: { notificationhelp_target: "button", action: "click->notificationhelp#create"}, class: "btn btn-purple", disabled: true %>
    </div>
  <% end %>
</div>
