<div class="flip-card-front" data-action="click->flip-card#flip">
  <div class="card-organization-name" style="display: flex; align-items: center; justify-content:center;">
    <p class="paragraphe-bold">
    <span class="organization-name"><%= organization.titre %>, </span><span class="paragraphe"><%= organization.name %></span>
    </p>
  </div>
  <div id="flexible">
    <% if organization.laureates_parity.to_i >= 50 %>
      <div class="c100 p<%= organization.laureates_parity.to_i %> purple">
    <% else %>
      <div class="c100 p<%= organization.laureates_parity.to_i %> orange">
    <% end %>
      <span><%= organization.laureates_parity.to_i %>%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>
  <div class="card-organization-numbers">
    <% if organization.nb_femmes_laureates.blank? || organization.nb_total_laureates.blank? %>
      <p><mark><br> lauréates : N/R</mark></p>
    <% else %>
      <p><mark class="<%= organization.laureates_parity.to_i >= 50 ? "purple" : "orange" %>"><br> lauréates : <%= organization.nb_femmes_laureates %> / <%= organization.nb_total_laureates %></mark></p>
    <% end %>
    <hr>
    <% if organization.nb_femmes_candidates.blank? || organization.nb_total_candidats.blank? %>
      <p class="paragraphe-grey">candidates : N/R</p>
    <% else %>
      <p class="paragraphe-grey"><%= "candidate".pluralize(organization.nb_total_candidats) %> : <%= organization.nb_femmes_candidates %> / <%= organization.nb_total_candidats %></p>
    <% end %>
  </div>
</div>
