<% if organization.page_structure %>
  <div class="flip-card-front">
<% else %>
  <div class="flip-card-front" data-action="click->flip-card#flip">
<% end %>
  <div class="card-organization-name" style="display: flex; align-items: center; justify-content:center;">
    <p class="paragraphe-bold">
      <% if annee %>
        <span class="organization-name"><%= annee %></span>
      <% else %>
        <span class="organization-name"><%= organization.name %><% unless organization.city.blank? %>,<% end %></span>
          <% unless organization.city.blank? %><span class="paragraphe"><%= organization.city %></span><% end %>
      <% end %>
    </p>
  </div>
  <div id="flexible">
    <% if chiffres_organization.publies_parite.to_i >= 50 %>
      <div class="c100 p<%= chiffres_organization.publies_parite.to_i %> purple">
    <% else %>
      <div class="c100 p<%= chiffres_organization.publies_parite.to_i %> orange">
    <% end %>
      <span><%= chiffres_organization.publies_parite.to_i %>%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>
  <div class="card-organization-numbers">
    <% if chiffres_organization.nb_femmes_publiees.blank? || chiffres_organization.nb_total_publies.blank? %>
      <p><mark>femmes photographes<br> publiées : N/R</mark><span class="card-annee <%= chiffres_organization.nb_femmes_publiees.to_i >= 50 ? "purple" : "orange" %>"><%= chiffres_organization.annee %></span></p>
    <% else %>
      <p><mark class="<%= chiffres_organization.publies_parite.to_i >= 50 ? "purple" : "orange" %>">femmes photographes<br> publiées : <%= chiffres_organization.nb_femmes_publiees %> / <%= chiffres_organization.nb_total_publies %></mark><span class="card-annee <%= chiffres_organization.nb_femmes_publiees.to_i >= 50 ? "purple" : "orange" %>"><%= chiffres_organization.annee %></span></p>
    <% end %>
    <hr>
    <% if chiffres_organization.nb_femmes_iconographes.blank? || chiffres_organization.nb_total_iconographes.blank? %>
      <p class="paragraphe-grey">femmes iconographes : N/R</p>
    <% else %>
      <p class="paragraphe-grey">femmes <%= "iconographe".pluralize(chiffres_organization.nb_total_iconographes) %> : <%= chiffres_organization.nb_femmes_iconographes %> / <%= chiffres_organization.nb_total_iconographes %></p>
    <% end %>
  </div>
</div>
