<% if organization.page_structure %>
  <div class="flip-card-front">
<% else %>
  <div class="flip-card-front" data-action="click->flip-card#flip">
<% end %>
  <div class="card-organization-name" style="display: flex; align-items: center; justify-content:center;">
    <p class="paragraphe-bold">
      <% if annee %>
        <span class="organization-name"><%= annee %></span>
      <% else %>
        <span class="organization-name"><%= organization.titre %><% unless organization.name.blank? %>,<% end %></span>
          <% unless organization.name.blank? %><span class="paragraphe"><%= organization.name %></span><% end %>
      <% end %>
    </p>
  </div>
  <div id="flexible">
    <% if chiffres_organization.laureates_parite.to_i >= 50 %>
      <div class="c100 p<%= chiffres_organization.laureates_parite.to_i %> purple">
    <% else %>
      <div class="c100 p<%= chiffres_organization.laureates_parite.to_i %> orange">
    <% end %>
      <span><%= chiffres_organization.laureates_parite.to_i %>%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>
  <div class="card-organization-numbers">
    <% if chiffres_organization.nb_femmes_laureates.blank? || chiffres_organization.nb_total_laureates.blank? %>
      <p><mark><br> lauréates : ?</mark></p>
    <% else %>
      <p><mark class="<%= chiffres_organization.laureates_parite.to_i >= 50 ? "purple" : "orange" %>"><br> lauréates : <%= chiffres_organization.nb_femmes_laureates %> / <%= chiffres_organization.nb_total_laureates %></mark></p>
    <% end %>
    <hr>
    <% if chiffres_organization.nb_femmes_candidates.blank? || chiffres_organization.nb_total_candidats.blank? %>
      <p class="paragraphe-grey">candidates : ?</p>
    <% else %>
      <p class="paragraphe-grey"><%= "candidate".pluralize(chiffres_organization.nb_total_candidats) %> : <%= chiffres_organization.nb_femmes_candidates %> / <%= chiffres_organization.nb_total_candidats %></p>
    <% end %>
  </div>
</div>
