<% if organization.page_structure %>
  <div class="flip-card-front">
<% else %>
  <div class="flip-card-front" data-action="click->flip-card#flip">
<% end %>
  <div class="card-organization-name" style="display: flex; align-items: center; justify-content:center;">
    <p class="paragraphe-bold">
      <% if annee %>
        <span class="organization-name"><%= annee %></span>
      <% else %>
        <span class="organization-name"><%= organization.name %><% unless organization.city.blank? %>,<% end %></span>
          <% unless organization.city.blank? %><span class="paragraphe"><%= organization.city %></span><% end %>
      <% end %>
    </p>
  </div>
  <div id="flexible">
    <% if chiffres_organization.exposes_parite.to_i >= 50 %>
      <div class="c100 p<%= chiffres_organization.exposes_parite.to_i %> purple">
    <% else %>
      <div class="c100 p<%= chiffres_organization.exposes_parite.to_i %> orange">
    <% end %>
      <span><%= chiffres_organization.exposes_parite.to_i %>%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>
  <div class="card-organization-numbers">
    <% if chiffres_organization.nb_femmes_exposees.blank? || chiffres_organization.nb_total_exposes.blank? %>
      <p><mark>femmes photographes <br> exposées : ?</mark></p>
    <% else %>
      <p><mark class="<%= chiffres_organization.exposes_parite.to_i >= 50 ? "purple" : "orange" %>">femmes photographes <br> exposées : <%= chiffres_organization.nb_femmes_exposees %> / <%= chiffres_organization.nb_total_exposes %></mark></p>
    <% end %>
    <hr>
    <% if chiffres_organization.nb_femmes_directrices.blank? || chiffres_organization.nb_total_directeurs.blank? %>
      <p class="paragraphe-grey">dirigeantes : ?</p>
    <% else %>
      <p class="paragraphe-grey"><%= "dirigeante".pluralize(chiffres_organization.nb_total_directeurs) %> : <%= chiffres_organization.nb_femmes_directrices %> / <%= chiffres_organization.nb_total_directeurs %></p>
    <% end %>
  </div>
</div>
