<% if organization.page_structure %>
  <div class="flip-card-front">
<% else %>
  <div class="flip-card-front" data-action="click->flip-card#flip">
<% end %>
  <div class="card-organization-name" style="display: flex; align-items: center; justify-content:center;">
    <p class="paragraphe-bold">
      <% if annee %>
        <span class="organization-name"><%= annee %></span>
      <% else %>
        <span class="organization-name"><%= organization.name %><% unless organization.city.blank? %>,<% end %></span>
          <% unless organization.city.blank? %><span class="paragraphe"><%= organization.city %></span><% end %>
      <% end %>
    </p>
  </div>
  <div id="flexible">
    <% if chiffres_organization.enseignants_parite.to_i >= 50 %>
      <div class="c100 p<%= chiffres_organization.enseignants_parite.to_i %> purple">
    <% else %>
      <div class="c100 p<%= chiffres_organization.enseignants_parite.to_i %> orange">
    <% end %>
      <span><%= chiffres_organization.enseignants_parite.to_i %>%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>
  <div class="card-organization-numbers">
    <% if chiffres_organization.nb_femmes_enseignantes.blank? || chiffres_organization.nb_total_enseignants.blank? %>
      <p><mark><br> enseignantes : ?</mark></p>
    <% else %>
      <p><mark class="<%= chiffres_organization.enseignants_parite.to_i >= 50 ? "purple" : "orange" %>"><br> enseignantes : <%= chiffres_organization.nb_femmes_enseignantes %> / <%= chiffres_organization.nb_total_enseignants %></mark></p>
    <% end %>
    <hr>
    <% if chiffres_organization.nb_femmes_etudiantes.blank? || chiffres_organization.nb_total_etudiants.blank? %>
      <p class="paragraphe-grey">étudiantes : ?</p>
    <% else %>
      <p class="paragraphe-grey"><%= "étudiante".pluralize(chiffres_organization.nb_total_etudiants) %> : <%= chiffres_organization.nb_femmes_etudiantes %> / <%= chiffres_organization.nb_total_etudiants %></p>
    <% end %>
  </div>
</div>
