
<div class="card-organization">
  <div class="card-organization-name">
    <p class="paragraphe-bold"><%= organization.name %><% unless organization.city.blank? %>, <span class="paragraphe"><%= organization.city %></span><% end %></p>
    <% if organization.logo.attached? %>
      <div class="flex-div">
        <%= cl_image_tag organization.logo.key, alt: "logo #{organization.name}"%>
      </div>
    <% end %>
  </div>
  <% if organization.score_parity == 0 %>
    <div class="weather-bubble orange">
      <%= image_tag "emojis/RAIN-EMOJI.svg", alt: "emoji pluvieux", class: "emoji-weather" %>
    </div>
  <% elsif organization.score_parity == 1 %>
    <div class="weather-bubble half-half">
      <%= image_tag "emojis/CLOUD-EMOJI.svg", alt: "emoji nuageux", class: "emoji-weather" %>
    </div>
  <% elsif organization.score_parity == 2 %>
    <div class="weather-bubble purple">
      <%= image_tag "emojis/SUN-EMOJI.svg", alt: "emoji ensoleillé", class: "emoji-weather" %>
    </div>
  <% end %>
  <div class="card-organization-numbers">
    <%# <div style="background-color: red; height: 9px; z-index: 0;"></div>
    <p style="z-index: 1; margin-top: -20px!important">Lorem ipsum dolor sit amet, consectetuer</p> %>
    <% if organization.nb_women_dir.blank? ||organization.total_nb_dir.blank? %>
      <p class="paragraphe <%= organization.dir_parity ? "line-purple" : "line-orange" %>">dirigeantes : inconnu </p><br>
    <% else %>
      <p class="paragraphe <%= organization.dir_parity ? "line-purple" : "line-orange" %>">dirigeantes : <%= organization.nb_women_dir %> / <%= organization.total_nb_dir %></p><br>
    <% end %>
    <% if organization.nb_women_expos.blank? || organization.total_nb_expos.blank? %>
      <p class="paragraphe <%= organization.expos_parity ? "line-purple" : "line-orange" %>">exposantes : inconnu</p>
    <% else %>
      <p class="paragraphe <%= organization.expos_parity ? "line-purple" : "line-orange" %>">exposantes : <%= organization.nb_women_expos %> / <%= organization.total_nb_expos %></p>
    <% end %>
  </div>
</div>

