<% organizations.each do |organization| %>
  <div class="box" data-controller="flip-card">
    <div class="box-in box-front" data-flip-card-target="frontCard">
      <div class="flip-card-front" data-action="click->flip-card#flip">
        <div class="card-organization-name" style="display: flex; align-items: center; justify-content:center;">
          <div>
            <p class="paragraphe-bold"><%= organization.name %><% unless organization.city.blank? %>, <span class="paragraphe"><%= organization.city %></span><% end %></p>
            <% if organization.logo.attached? %>
              <div class="flex-div">
                <%= cl_image_tag organization.logo.key, alt: "logo #{organization.name}"%>
              </div>
            <% end %>
          </div>
        </div>
        <div class="c100 p<%= organization.expos_parity.to_i %> center">
          <span><%= organization.expos_parity.to_i %> %</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <div>
          <% if organization.expos_parity < 40 %>
            <div class="card-organization-numbers rain">
          <% elsif organization.expos_parity >= 40 && organization.expos_parity <= 49 %>
            <div class="card-organization-numbers cloud">
          <% elsif organization.expos_parity >= 50 %>
            <div class="card-organization-numbers sun">
          <% elsif organization.nb_women_expos.blank? || organization.total_nb_expos.blank? %>
            <div class="card-organization-numbers">
          <% end %>
            <% if organization.nb_women_expos.blank? || organization.total_nb_expos.blank? %>
              <div>Femmes photographes exposées : <br><span class= "paragraphe-grey">inconnu</span></div>
            <% else %>
              <div>Femmes photographes exposées : <br><span class= "paragraphe-grey">(<%= organization.nb_women_expos %> / <%= organization.total_nb_expos %>)</span></div>
            <% end %>
            <% if organization.nb_women_dir.blank? || organization.total_nb_dir.blank? %>
              <div>directrices : inconnu</div>
            <% else %>
              <div>directrices : <span class="paragraphe-bold"><%= (organization.nb_women_dir.fdiv(organization.total_nb_dir) * 100).to_i %>%</span> <span class="paragraphe-grey">(<%= organization.nb_women_dir %> / <%= organization.total_nb_dir %>)</span></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="box-in box-back" data-flip-card-target="backCard">
      <div class="flip-card-back"  data-controller="orga-info" data-orga-info-orga-id-value="<%= organization.id %>">
        <div class="div-cross">
          <p class="cross" data-action="click->flip-card#close">&times;</p>
        </div>
        <div class="div-ensavoirplus" data-orga-info-target="card">
          <div>
            <p class="main-paragraphe">Vous souhaitez en savoir plus sur l’égalité dans cette organisation ?</p>
            <div class="btn btn-white" data-action="click->orga-info#submit">dîtes-le nous !</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
