<div class="legendes">
  <ul>
    <li class="orange"><span> -  de 50% de femmes</span></li>
    <li class="purple"><span> + de 50% de femmes</span></li>
  </ul>
</div>
<div class="cards-organizations">
  <% @organizations.each do |organization| %>
    <% @chiffres_organization = ChiffresOrganization.where(organization: organization).order(annee: :desc).first %>
    <% if organization.page_structure %>
      <% link_ref = organization.organization != nil && organization.prix? ? organization.organization : organization%>
      <%= link_to organization_path(link_ref) do %>
        <div class="box">
          <div class="box-in box-front">
            <% if organization.orga? %>
              <%= render "organizations/card_organization", annee: nil, organization: organization, chiffres_organization: @chiffres_organization %>
            <% elsif organization.ecole? %>
              <%= render "organizations/card_ecole", annee: nil, organization: organization, chiffres_organization: @chiffres_organization %>
            <% elsif organization.prix? %>
              <%= render "organizations/card_prix", annee: nil, organization: organization, chiffres_organization: @chiffres_organization %>
            <% elsif organization.journal? %>
              <%= render "organizations/card_journal", annee: nil, organization: organization, chiffres_organization: @chiffres_organization %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="box" data-controller="flip-card">
        <div class="box-in box-front" data-flip-card-target="frontCard">
          <% if organization.orga? %>
            <%= render "organizations/card_organization", annee: nil, organization: organization, chiffres_organization: @chiffres_organization %>
          <% elsif organization.ecole? %>
            <%= render "organizations/card_ecole", annee: nil, organization: organization, chiffres_organization: @chiffres_organization %>
          <% elsif organization.prix? %>
            <%= render "organizations/card_prix", annee: nil, organization: organization, chiffres_organization: @chiffres_organization %>
          <% elsif organization.journal? %>
            <%= render "organizations/card_journal", annee: nil, organization: organization, chiffres_organization: @chiffres_organization %>
          <% end %>
        </div>
        <div class="box-in box-back" data-flip-card-target="backCard">
          <div class="flip-card-back"  data-controller="orga-info" data-orga-info-orga-id-value="<%= organization.id %>">
            <div class="div-cross">
              <p class="cross" data-action="click->flip-card#close">&times;</p>
            </div>
            <div class="div-ensavoirplus" data-orga-info-target="card">
              <div>
                <p class="main-paragraphe">Vous souhaitez en savoir plus sur l'égalité dans cette organisation ?</p>
                <div class="btn btn-white" data-action="click->orga-info#submit">dîtes-le nous !</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
