<div class="ajout-organization-page">
  <div class="ajout-organization-title">
    <p class="subtitle-spectral">Chiffrer l'égalité femmes-hommes, secteur de la photographie.<span class="subtitle-regular">Renseignez vos chiffres ! </span></p>
    <p class="paragraphe" style="width: 70%" >Afin d'apporter plus de transparence, valoriser vos actions et adapter les nôtres, renseignez les chiffres de votre organisation.</p>
  </div>
  <div class="ajout-organization-form">
    <%= simple_form_for @organization do |f| %>
      <%= f.input :organization_type, label: "Sélectionnez le type de votre organisation", collection: Organization::ORGANIZATION_TYPE, hint: "Vous êtes un espace d'exposition qui a crée son festival? Veuillez remplir 2 fois le formulaire en distinguant la programmation du lieu et celle du festival." %>
      <%= f.input :name, label: "Votre structure se nomme..." %>
      <%= f.input :city, label: "Votre structure se situe dans la ville de..." %>
      <p class="paragraphe">Votre structure est elle financée par le ministère ?</p>
      <%= f.collection_radio_buttons :finance_ministre, [[true, 'oui'] ,[false, 'non']],:first, :last %>
      <%= f.input :email, label: "À quelle adresse e-mail pouvons-nous vous contacter si besoin ?" %>
      <div class="btn-submit">
        <%= f.submit "Suivant", class: "btn btn-black" %>
      </div>
    <% end %>
  </div>
</div>
