<div class="div-index-parite" data-controller="search-organizations">
  <div style="width: 30%;">
    <div class="div-title-index-parite">
      <h1 class="title-marianne">Index parité : <span class="spectral-title"> part des femmes dans la photographie</span></h1>
      <p class="paragraphe">Espaces d'expositions, festivals, écoles, prix et journaux/magazines</p>
    </div>
    <div class="div-search-form">
      <%= form_with url: organizations_path, method: :get, class: "d-flex search-form", data: {search_organizations_target: "form"} do %>
        <div class="div-input-form">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Rechercher structure, ville",
            data: { search_organizations_target: "input", action: "keyup->search-organizations#check"}
          %>
          <%= submit_tag "", class: "btn btn-purple-index #{params[:query] ? "croix" : "loupe"}", data: { search_organizations_target: "bouton", action: "click->search-organizations#clear"} %>
        </div>
      <% end %>
    </div>
    <%= link_to "Renseigner des chiffres", new_organization_path, target: :_blank, class: "btn btn-white" %>
  </div>
  <div style="width:65%" data-search-organizations-target="list">
    <%= render 'list', organizations: @organizations %>
  </div>
</div>
<div class="redirection-infographie">
  <div class="redirection-infographie-title">
    <p class="title">Découvrez plus de chiffres sur les inégalités dans la photographie via nos infographies</p>
  </div>
  <%= link_to infographie_path, class: "btn btn-black" do %>
    <%= image_tag "emojis/data-visualization.svg", alt: "visualisation de données", class: "emoticone-btn" %> <span class="mb0">Infographie</span>
  <% end %>
</div>
