<div class="div-index-parite" data-controller="search-organizations">
  <div class="d-flex">
    <div class="filter-index">
    <div class="filter-sticky>
      <div class="div-title-index-parite">
        <h1 class="title-marianne">Index parité : <span class="spectral-title"> part des femmes dans la photographie</span></h1>
      </div>
      <div class="legendes">
        <ul>
          <li class="orange"><span> -  de 50% de femmes</span></li>
          <li class="purple"><span> + de 50% de femmes</span></li>
        </ul>
      </div>
      <div class="div-search-form">
        <%= form_with url: organizations_path, method: :get, class: "d-flex search-form", data: {search_organizations_target: "form"} do %>
          <div class="div-input-form">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Rechercher structure, ville",
              data: { search_organizations_target: "input", action: "keyup->search-organizations#check"}
            %>
            <%= submit_tag "", class: "btn btn-purple-index #{params[:query] ? "croix" : "loupe"}", data: { search_organizations_target: "bouton", action: "click->search-organizations#clear"} %>
          </div>
        <% end %>
      </div>
      <%= link_to "Renseigner des chiffres", new_organization_path, target: :_blank, class: "btn btn-white" %>
    </div>
    </div>
    <div class="list-organizations"  data-search-organizations-target="list">
      <%= render 'list', organizations: @organizations %>
    </div>
  </div>
  <p class="paragraphe-x-small mt40">Source : Ministère de la Culture, Secrétariat général, Deps-doc/dgca, Département de la photographie, 2022. Dernières données communiquées pour la période 2020-2021 (31/12/2021 pour les directions de structures de festivals, année 2020 pour le nombre de femmes exposées dans les structures et année 2021 pour le nombre de femmes exposées dans les festivals)</p>
</div>
<div class="redirection-infographie">
  <div class="redirection-infographie-title">
    <p class="title">Découvrez plus de chiffres sur les inégalités dans la photographie via nos infographies</p>
  </div>
  <%= link_to infographie_path, class: "btn btn-black" do %>
    <%= image_tag "emojis/data-visualization.svg", alt: "visualisation de données", class: "emoticone-btn" %> <span class="mb0">Infographie</span>
  <% end %>
</div>
