<div class="ajout-organization-page">
  <div class="ajout-organization-title">
    <p class="subtitle-spectral">Chiffrer l'égalité femmes-hommes, secteur de la photographie.<span class="subtitle-regular">Renseignez vos chiffres ! </span></p>
    <p class="paragraphe" style="width: 70%" >Afin d'apporter plus de transparence, valoriser vos actions et adapter les nôtres, renseignez les chiffres de votre organisation.</p>

  </div>
  <div data-controller="ajout-organisations">
    <div class="step1-ajout-organization ajout-organization-form">
      <p class="paragraphe mt20 mb10">Votre structure est-elle déjà référencée dans l'index parité?</p>
      <fieldset id="new_organization" class="m0">
        <input type="radio" data-action="change->ajout-organisations#newOrganisation" name="new_organisation"></input>
        <label class="ml3" for="new_organisation">Oui</label>
        <input type="radio" class="ml10" data-action="change->ajout-organisations#hideNewOrganisation" name="new_organisation"></input>
        <label class="ml3" for="new_organisation">Non</label>
      </fieldset>
    </div>
    <div class="ajout-organization-form d-none" data-ajout-organisations-target="divSearchOrga">
      <div id="new_organization" class="mt20">
        <p class="paragraphe mt20">Pour en être certain(e), veuillez rechercher le nom de votre structure avec l'outil de recherche.</p>
        <select name="organization" id="select-organization" data-action="change->ajout-organisations#selectOrga" data-ajout-organisations-target="selectOrga">
          <option name="" id="" selected disabled>Selectionnez votre organisation</option>
          <% Organization.all.where(visible: true, organization: nil).order("name").each do |organization| %>
            <option value="<%= organization.id %>"><%= organization.name %></option>
          <% end %>
        </select>
        <p class="paragraphe-small">Tapez la première lettre de votre structure pour naviguer dans la liste</p>
        <div class="btn-submit">
          <%= link_to "Suivant", "", class: "btn btn-black isDisabled", data: { ajout_organisations_target: "linkNew"} %>
        </div>
      </div>
    </div>
    <div class="ajout-organization-form <%= @organization.errors.any? ? "" : "d-none" %>" data-ajout-organisations-target="divNewOrga">
      <%= simple_form_for @organization do |f| %>
        <%= f.input :organization_type, label: "Sélectionnez le type de votre organisation", collection: Organization::ORGANIZATION_TYPE, hint: "Vous êtes un espace d'exposition qui a crée son festival? Veuillez remplir 2 fois le formulaire en distinguant la programmation du lieu et celle du festival." %>
        <%= f.input :name, label: "Votre structure se nomme..." %>
        <%= f.input :city, label: "Votre structure se situe dans la ville de..." %>
        <p class="paragraphe">Votre structure est elle financée par le ministère ?</p>
        <%= f.collection_radio_buttons :finance_ministre, [[true, 'oui'] ,[false, 'non']],:first, :last %>
        <%= f.input :email, label: "À quelle adresse e-mail pouvons-nous vous contacter si besoin ?" %>
        <div class="btn-submit">
          <%= f.submit "Suivant", class: "btn btn-black" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
